.box {
    height: 50px;
    padding: 5px;
    background:
        repeating-linear-gradient(90deg,#0000 0,rgba(220,220,220, 0.9) 25%,#0000 50%)
            White;
    background-size:200% 100%;
    animation: shine 1s infinite linear;
    z-index: 1

}

.box2 {
    height: 50px;
    padding: 2px;
    background:
        repeating-linear-gradient(90deg,#0000 0,rgba(220, 220, 220, 0.9) 25%,#0000 50%)
            LightGoldenRodYellow;
    background-size:200% 100%;
    animation: shine 1s infinite linear;
    z-index: 1

}
.box3 {
    height: 50px;
    padding: 4px;
    background:
        repeating-linear-gradient(90deg,#0000 0,rgba(220, 220, 220, 0.9) 25%,#0000 50%)
            LightGoldenRodYellow;
    background-size:200% 100%;
    animation: shine 1s infinite linear;
    z-index: 1

}