.no_edit {
    font-size: min(calc(4px + 2vw), 18px);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout : none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}