.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
    margin: auto;
    justify-content: center;
    margin: auto;
    border: black 3px solid;
}

.popup .content {
    position:fixed;
    top: 215px;
    left:140px;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width: 280px;
    height: min(80%, 700);
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    overflow-y: scroll;

}

.popup .close-btn{
    cursor:pointer;
    position:absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height:30px;
    background: #222;
    color: #fff;
    font-size:25px;
    font-weight:600;
    line-weight:30px;
    text-align:center;
    border-radius:50%;

}

.popup.active .overlay{
    display:block;
}

.popup.active .content{
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}





















.popuphome .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
    margin: auto;
    justify-content: center;
    margin: auto;
    border: black 3px solid;
}

.popuphome .content {
    position:fixed;
    top: 215px;
    left:140px;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width: 280px;
    height: min(80%, 700);
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    overflow-y: scroll;

}

.popuphome .close-btn{
    cursor:pointer;
    position:absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height:30px;
    background: #222;
    color: #fff;
    font-size:25px;
    font-weight:600;
    line-weight:30px;
    text-align:center;
    border-radius:50%;

}

.popuphome.active .overlay{
    display:block;
}

.popuphome.active .content{
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}


