<!DOCTYPE html>
<html style="caret-color: transparent;">
<head>
    <link rel="icon" type="image/gif/png" href="https://d3dw5jtb3w1kgy.cloudfront.net/logo.png">
    <title>Masrik Dahir</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="library/www.w3schools.com.w3css.4.w3.css">
    <link rel="stylesheet" href="library/cdnjs.cloudflare.com.ajax.libs.font-awesome.4.7.0.css.font-awesome.min.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/box.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/collapsible.css">
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/if.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/glowing.css">
    <link rel="stylesheet" href="css/vintage.css">
    <script src="library/code.jquery.com.jquery-1.10.2.js"></script>
    <script src="library/ajax.googleapis.com.ajax.libs.jquery.3.5.1.jquery.min.js"></script>
    <script src="js/icon-animation.js"></script>
    <script src="js/hourglass.js"></script>
    <script src="js/expand_jquery.js"></script>
    <script src="js/battery.js" defer></script>
    <script src="js/achievement.js" defer></script>
    <script src="js/collapsible.js" defer></script>
    <script src="js/computer_science.js" defer></script>
    <script src="js/mathematics.js" defer></script>
    <script src="js/finance.js" defer></script>
    <script src='js/aesthetics.js' crossorigin='anonymous'></script>
    <script src="library/vue@3.2.36.dist.vue.global.js"></script>
    <script src="vueJs/default.js" defer></script>
    <script src="vueJs/academia.js" defer></script>
    <script src="js/components.js" defer></script>

    <!--    Top Nav -->
    <script src="library/ajax.googleapis.com.ajax.libs.jquery.3.6.0.jquery.min.js"></script>
    <script src="library/maxcdn.bootstrapcdn.com.bootstrap.3.4.1.js.bootstrap.min.js"></script>

    <!--   Info Tooltip -->
    <link rel="stylesheet" href="css/d.css">
    <script src="bootstrap/js/ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="bootstrap/js/maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/random.js" defer></script>


</head>


<body class="w3-white">
<div id="nav-placeholder"></div>

<!-- Page Container -->
<div id="app_academia" v-cloak>
<div class="w3-content w3-margin-top" style="max-width: min(1800px, 95%);">

        <div class="">
            <!-- Degree -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Degree</b></h4>
                <div v-for="degree in degrees" :key="degree.id">
                    <button @click="toggle(degree.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(degree.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ degree.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px">
                                        <bdi style="font-size: calc(10px + .5vw);">{{ degree.date }}</bdi>
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(degree.id)">
                        <a :href="degree.credentialUrl" target="_blank">
                            <img :src="degree.imageUrl"
                                 style="width: 1vw; min-width: 210px; margin-left: calc(0% + 20px)"
                                 alt="Masrik Dahir"/></a>
                        <ul>
                            <li v-for="(detail, i) in degree.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Certification -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Certification</b></h4>
                <div v-for="cert in certifications" :key="cert.id">
                    <button @click="toggle(cert.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(cert.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ cert.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px">
                                        <bdi style="font-size: calc(10px + .5vw);">{{ cert.date }}</bdi>
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(cert.id)">
                        <a :href="cert.credentialUrl" target="_blank">
                            <img :src="cert.imageUrl"
                                 style="width: 1vw; min-width: 150px; margin-left: calc(0% + 20px)"
                                 alt="Masrik Dahir"/></a>
                        <ul>
                            <li v-for="(detail, i) in cert.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Research Paper -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Research Paper</b></h4>
                <div v-for="pub in publications.filter(function(p) { return p.type === 'paper'; })" :key="pub.id">
                    <button @click="toggle(pub.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(pub.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ pub.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px; font-size: calc(10px + .5vw);">{{ pub.date }}</b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(pub.id)">
                        <ul>
                            <a :href="pub.pdfUrl" target="_blank" style="float: right; margin-left: 10px; margin-right: 10px">
                                <img :src="pub.pdfIconUrl" style="width: 1vw; min-width: 30px; margin-left: 25px;" alt="PDF"/>
                            </a>
                            <li v-for="(detail, i) in pub.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Research Poster -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Research Poster</b></h4>
                <div v-for="pub in publications.filter(function(p) { return p.type === 'poster'; })" :key="pub.id">
                    <button @click="toggle(pub.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(pub.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ pub.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px; font-size: calc(10px + .5vw);">{{ pub.date }}</b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(pub.id)">
                        <ul>
                            <a :href="pub.pdfUrl" target="_blank" style="float: right; margin-left: 10px; margin-right: 10px">
                                <img :src="pub.pdfIconUrl" style="width: 1vw; min-width: 30px; margin-left: 25px;" alt="PDF"/>
                            </a>
                            <li v-for="(detail, i) in pub.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Contributing Editor -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Contributing Editor</b></h4>
                <div v-for="pub in publications.filter(function(p) { return p.type === 'editor'; })" :key="pub.id">
                    <button @click="toggle(pub.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(pub.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ pub.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px; font-size: calc(10px + .5vw);">{{ pub.date }}</b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(pub.id)">
                        <ul>
                            <a :href="pub.pdfUrl" target="_blank" style="float: right; margin-left: 10px; margin-right: 10px">
                                <img :src="pub.pdfIconUrl" style="width: 1vw; min-width: 30px; margin-left: 25px;" alt="PDF"/>
                            </a>
                            <li v-for="(detail, i) in pub.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Forum Presentation -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Forum Presentation</b></h4>
                <div v-for="pub in publications.filter(function(p) { return p.type === 'presentation'; })" :key="pub.id">
                    <button @click="toggle(pub.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(pub.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ pub.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px; font-size: calc(10px + .5vw);">{{ pub.date }}</b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(pub.id)">
                        <ul>
                            <a :href="pub.pdfUrl" target="_blank" style="float: right; margin-left: 10px; margin-right: 10px">
                                <img :src="pub.pdfIconUrl" style="width: 1vw; min-width: 30px; margin-left: 25px;" alt="PDF"/>
                            </a>
                            <li v-for="(detail, i) in pub.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Achievement -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Achievement</b></h4>
                <div v-for="ach in achievements" :key="ach.id">
                    <button @click="toggle(ach.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(ach.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ ach.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px">
                                        <bdi style="font-size: calc(10px + .5vw);">{{ ach.date }}</bdi>
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(ach.id)">
                        <a v-if="ach.imageUrl" :href="ach.credentialUrl" target="_blank" style="text-decoration:none">
                            <img :src="ach.imageUrl"
                                 style="width: 1vw; min-width: 100px; margin-left: 25px"
                                 alt="Masrik Dahir"/></a>
                        <ul>
                            <li v-for="(detail, i) in ach.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Coursework: Computer Science -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Coursework: Computer Science</b></h4>
                <div v-for="course in courses_cs" :key="course.id">
                    <button @click="toggle(course.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(course.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ course.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px">
                                        <bdi style="font-size: calc(10px + .5vw);">{{ course.date }}</bdi>
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(course.id)">
                        <ul>
                            <li v-for="(detail, i) in course.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Coursework: Mathematics -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Coursework: Mathematics</b></h4>
                <div v-for="course in courses_math" :key="course.id">
                    <button @click="toggle(course.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(course.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ course.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px">
                                        <bdi style="font-size: calc(10px + .5vw);">{{ course.date }}</bdi>
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(course.id)">
                        <ul>
                            <li v-for="(detail, i) in course.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>

            <!-- Coursework: Finance -->
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h4><b style="color: black; font-size: calc(20px + .5vw);">Coursework: Finance</b></h4>
                <div v-for="course in courses_finance" :key="course.id">
                    <button @click="toggle(course.id)" class="pretty">
                        <table width="100%">
                            <tr>
                                <td width="0%">
                                    <img style="width:20px; height:20px;"
                                         :src="isExpanded(course.id) ? 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/down_more.png' : 'https://d3dw5jtb3w1kgy.cloudfront.net/Icons/more.png'" alt="toggle"/>
                                </td>
                                <td width="80%">
                                    <h4 class="h4" style="margin-left: 10px"><b style="color: black">{{ course.title }}</b></h4>
                                </td>
                                <td width="20%">
                                    <b style="float: right; color:crimson; margin-left: 10px">
                                        <bdi style="font-size: calc(10px + .5vw);">{{ course.date }}</bdi>
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div v-show="isExpanded(course.id)">
                        <ul>
                            <li v-for="(detail, i) in course.details" :key="i" v-html="detail"></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
        </div>

</div>
</div>

<div id="footer-placeholder"></div>

</body>
</html>
