<!DOCTYPE html>
<html style="caret-color: transparent;">
<head>

    <!--    Metadata imports -->
    <link rel="icon" type="image/gif/png" href="https://d3dw5jtb3w1kgy.cloudfront.net/logo.png">
    <title>Masrik Dahir</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    CSS imports -->
    <link rel="stylesheet" href="css/vendor/www.w3schools.com.w3css.4.w3.css">
    <link rel="stylesheet" href="css/vendor/cdnjs.cloudflare.com.ajax.libs.font-awesome.4.7.0.css.font-awesome.min.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/box.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/glowing.css">
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/if.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/vendor/bootstrap-grid.css"/>
    <link rel="stylesheet" href="css/vintage.css">
    <link rel="stylesheet" href="css/if_quote.css">
    <link rel="stylesheet" href="css/quote.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/d.css">

    <!--    JS imports-->
    <script src="js/vendor/code.jquery.com.jquery-1.10.2.js"></script>
    <script src="js/hourglass.js"></script>
    <script src="js/expand_jquery.js"></script>
    <script src="js/briefcase.js" defer></script>
    <script src='js/aesthetics.js' crossorigin='anonymous'></script>

    <!--    Vue JS imports-->
    <script src="js/vendor/vue@3.2.36.dist.vue.global.js"></script>
    <script src="vueJs/default.js" defer></script>
    <script src="js/components.js" defer></script>
    <script src="vueJs/software.js" defer></script>

    <!--    Bootstrap / Tooltip -->
    <script src="js/vendor/ajax.googleapis.com.ajax.libs.jquery.3.6.0.jquery.min.js"></script>
    <script src="js/vendor/maxcdn.bootstrapcdn.com.bootstrap.3.4.1.js.bootstrap.min.js"></script>
    <script src="js/vendor/jquery-3.6.1.min.js"></script>
    <script src="js/vendor/bootstrap-tooltip-3.4.1.min.js"></script>
    <script src="js/random.js" defer></script>

    <!--    Matrix animation -->
    <script src="js/matrix.js" defer></script>

    <link rel="stylesheet" href="css/index.css">

</head>

<body class="" style="background: white">

<!-- Page Container -->
<div class="w3-content info" style="max-width:1400px; background-color: white;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <header-tag class="info">
            <div id="app3">
                <div class="resizing-1026-less" style="margin-bottom: 30px; padding: 10px">
                    <div class="popuphome" id="popup-3" style="">
                        <div class="overlay"></div>
                        <div class="content" style="">
                            <div style="color: black; ">
                                <TABLE>
                                    <TR>
                                        <TD>
                                            <a href="https://www.masrikdahir.com" style="text-decoration: none">
                                                <button class="glow-on-hover-nav" type="button"
                                                        style="float: left; padding: 5px; border: none; background: transparent ">
                                                    <div style=""><b style="color: red; font-size: calc(20px + 0.4vw)">
                                                        <div class="wrapper" >
                                                        </div>Home</b>
                                                    </div>
                                                </button>
                                            </a>
                                        </TD>

                                    </TR>
                                    <TR>
                                        <TD>
                                            <a href="https://www.masrikdahir.com/work" style="text-decoration: none">
                                                <button class="glow-on-hover-nav" type="button"
                                                        style="float: left; padding: 5px; border: none; background: transparent ">
                                                    <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                                        <div class="wrapper" >
                                                        </div>Career</b>
                                                    </div>
                                                </button>
                                            </a>
                                        </TD>


                                    </TR>
                                    <TR>
                                        <TD>
                                            <a href="https://www.masrikdahir.com/academia" style="text-decoration: none">
                                                <button class="glow-on-hover-nav" type="button"
                                                        style="float: left; padding: 5px; border: none; background: transparent ">
                                                    <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                                        <div class="wrapper" >
                                                        </div>Academia</b>
                                                    </div>
                                                </button>
                                            </a>
                                        </TD>
                                    </TR>

                                    <TR>
                                        <TD>
                                            <a href="https://www.masrikdahir.com/software" style="text-decoration: none">
                                                <button class="glow-on-hover-nav" type="button"
                                                        style="float: left; padding: 5px; border: none; background: transparent ">
                                                    <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                                        <div class="wrapper" >
                                                        </div>Software</b>
                                                    </div>
                                                </button>
                                            </a>

                                        </TD>
                                    </TR>

                                    <TR>
                                        <TD>
                                            <a href="https://www.masrikdahir.com/milestone" style="text-decoration: none">
                                                <button class="glow-on-hover-nav" type="button"
                                                        style="float: left; padding: 5px; border: none; background: transparent ">
                                                    <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                                        <div class="wrapper" >
                                                        </div>Milestones</b>
                                                    </div>
                                                </button>
                                            </a>
                                        </TD>
                                    </TR>

                                    <TR>
                                        <TD>
                                            <a href="https://www.masrikdahir.com/map" style="text-decoration: none">
                                                <button class="glow-on-hover-nav" type="button"
                                                        style="float: left; padding: 5px; border: none; background: transparent ">
                                                    <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                                        <div class="wrapper" >
                                                        </div>Travel</b>
                                                    </div>
                                                </button>

                                            </a>
                                        </TD>
                                    </TR>

                                    <TR>
                                        <TD>
                                            <a href="https://www.masrikdahir.com/games" style="text-decoration: none">
                                                <button class="glow-on-hover-nav" type="button"
                                                        style="float: left; padding: 5px; border: none; background: transparent ">
                                                    <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                                        <div class="wrapper" >
                                                        </div>Games</b>
                                                    </div>
                                                </button>
                                            </a>
                                        </TD>
                                    </TR>
                                </TABLE>

                            </div>

                        </div>
                    </div>

                    <div class="topnav-2 navbar-fixed-top">

                        <h5 class="w3-margin-right w3-margin-left" style="float: left; padding: 5px; padding-top: 7px; padding-bottom: 3px">
                            <div class="main">Masrik Dahir</div>
                        </h5>

                        <button onclick="togglePopup('3')" class="w3-margin-right w3-margin-left glow-on-hover-nav" style="float: right; padding: 5px; margin-top: 15px; border: none; background: transparent"><img src="https://d3dw5jtb3w1kgy.cloudfront.net/menu.png" width="25" height="20" alt="Masrik Dahir">
                        </button>

                    </div>
                </div>
            </div>
            <br>
            <div class="" style="margin-left: 0px">
                <div class="w3-Azure w3-text-grey w3-card-2 w3-margin-bottom">
                    <div class="w3-display-container">
                        <img src="https://d3dw5jtb3w1kgy.cloudfront.net/masrikdahir.jpg" style="width:100%" alt="Masrik Dahir">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2 style="background:#ffffff;opacity: 0.7;">
                                <div class="no_new_line">Masrik Dahir
                                </div>
                            </h2>
                        </div>
                    </div>
                    <br>
                    <div class="w3-container">
                        <div style="color: black"><TABLE WIDTH="100%"><TR>
                            <TD WIDTH="1%">
                                <i class="fa fa-briefcase fa-fw w3-margin-right w3-large"
                                   style="color:#2f4f4f ;"></i>
                            </TD>
                            <TD WIDTH="99%">
                                Software Engineer, Capital One
                            </TD>
                        </TR></TABLE>
                        </div>
                        <br>
                        <div style="color: black"><TABLE WIDTH="100%"><TR>
                            <TD WIDTH="1%">
                                <i class="fa fa-graduation-cap fa-fw w3-margin-right w3-large" style="color:#2f4f4f;"></i>
                            </TD>
                            <TD WIDTH="99%">
                                MSc (AI & CyberSecurity), BSc (Software Engineering)
                            </TD>
                        </TR></TABLE>
                        </div>
                        <br>
                        <div style="color: black"><TABLE WIDTH="100%"><TR>
                            <TD WIDTH="1%">
                                <i class="fa fa-certificate fa-fw w3-margin-right w3-large" style="color:#2f4f4f;"></i>
                            </TD>
                            <TD WIDTH="99%">
                                Amazon Web Services, Azure, Google Cloud Platform, Databricks, Snowflake, Postman
                            </TD>
                        </TR></TABLE>
                        </div>
                        <br>

                        <div style="color: black"><TABLE WIDTH="100%"><TR>
                            <TD WIDTH="1%">
                                <i class="fa fa-home fa-fw w3-margin-right w3-large"
                                   style="color:#2f4f4f ;"></i>
                            </TD>
                            <TD WIDTH="99%">
                                Virginia, United States
                            </TD>
                        </TR></TABLE>
                        </div>

                        <div style="color: black"><TABLE WIDTH="100%">

                        </TABLE>
                        </div>
                        <br>

                    </div>
                </div>

                <!--                Work History -->
                <div class="w3-Azure w3-text-grey w3-card-2 w3-margin-bottom">
                    <div class="w3-container" style="color:transparent;">
                        <h4><p style="color: black;">
                            <i class="fa fa-history fa-fw w3-margin-right w3-text-teal;" style="color:#2f4f4f; font-size: medium; "></i>Work History</p></h4>


                        <TABLE>
                            <TR>
                                <TD>
                                    <!--          Capital One -->
                                    <div data-toggle="tooltip" data-html="true" title="Capital One Financial Corporation">
                                        <img class="box2 w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/capitalone.png"/>
                                    </div>
                                </TD>

                                <TD>
                                    <!--          CoStar -->
                                    <div data-toggle="tooltip" data-html="true" title="CoStar Group">
                                        <img class="box2 w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/costar.png"/>
                                    </div>
                                </TD>
                            </TR>
                        </TABLE>
                        <TABLE>
                            <TR>
                                <TD>
                                    <!--          Dept of Election -->
                                    <div data-toggle="tooltip" data-html="true" title="Virginia Department of Elections">
                                        <img class="box2 w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/dept-of-elections-logo.png"/>
                                    </div>
                                </TD>
                                <TD>
                                    <!--          VCU -->
                                    <div data-toggle="tooltip" data-html="true" title="Virginia Commonwealth University">
                                        <img class="box2 w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/vcu_ram.png"/>
                                    </div>


                                </TD>
                            </TR>
                        </TABLE>
                        <TABLE>
                            <TR>
                                <TD>
                                    <!--          Roanoke -->
                                    <div data-toggle="tooltip" data-html="true" title="Roanoke County">
                                        <img class="box2 w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/roanoke.png"/>
                                    </div>
                                </TD>

                                <TD>
                                    <!--          Att -->
                                    <div data-toggle="tooltip" data-html="true" title="AT&T Inc.">
                                        <img class="box2 w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/att.png"/>
                                    </div>
                                </TD>
                            </TR>
                        </TABLE>


                        <div class="w3-white w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge "
                                 style="width:100%; margin-left: -5px;"></div>
                        </div>

                        <br>
                    </div>
                </div>


                <!--                Programming Language-->
                <div class="w3-Azure w3-text-grey w3-card-2 w3-margin-bottom">
                    <div class="w3-container" style="color:transparent;">
                        <h4><p style="color: black;">
                            <i class="fa fa-code fa-fw w3-margin-right w3-text-teal;" style="color:#2f4f4f; font-size: medium; "></i>Skill</p></h4>

                        <TABLE>
                            <TR>
                                <TD>
                                    <!--          Python-->
                                    <div data-toggle="tooltip" data-html="true" title="Python Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/python.png"/>
                                    </div>
                                </TD>
                                <TD>
                                    <!--          Java-->
                                    <div data-toggle="tooltip" data-html="true" title="Java Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/java.png"/>
                                    </div>
                                </TD>

                                <TD>
                                    <!--          C-->
                                    <div data-toggle="tooltip" data-html="true" title="C Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/c2.png"/>

                                    </div>
                                </TD>

                                <TD>
                                    <!--          Nodejs-->
                                    <div data-toggle="tooltip" data-html="true" title="Node JS Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/nodejs.png"/>

                                    </div>
                                </TD>

                                <TD>
                                    <!--          SageMath-->
                                    <div data-toggle="tooltip" data-html="true" title="Sage Math Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/sage.png"/>

                                    </div>
                                </TD>

                            </TR>
                        </TABLE>

                        <TABLE>
                            <TR>
                                <TD>
                                    <!--          Rust-->
                                    <div data-toggle="tooltip" data-html="true" title="Rust Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/Rust_programming_language_black_logo.svg.png" />

                                    </div>
                                </TD>
                                <TD>
                                    <!--          HTML-->
                                    <div data-toggle="tooltip" data-html="true" title="HTML Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/html.png"/>

                                    </div>
                                </TD>

                                <TD>
                                    <!--          CSS-->
                                    <div data-toggle="tooltip" data-html="true" title="CSS Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/css.png"/>

                                    </div>
                                </TD>

                                <TD>
                                    <!--          SQL-->
                                    <div data-toggle="tooltip" data-html="true" title="SQL Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/sql.png"/>

                                    </div>
                                </TD>

                                <TD>
                                    <!--          PHP-->
                                    <div data-toggle="tooltip" data-html="true" title="PHP Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/php.png" />

                                    </div>
                                </TD>
                            </TR>
                        </TABLE>

                        <TABLE>
                            <TR>
                                <TD>
                                    <!--          Angular JS-->
                                    <div data-toggle="tooltip" data-html="true" title="Angular JS Programming Language">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px"
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/AngularJS-Shield.png" />

                                    </div>
                                </TD>

                                <TD>
                                    <!--        AWS Cloud Practitioner-->
                                    <div data-toggle="tooltip" data-html="true" title="AWS Cloud Practitioner Certification">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/aws-certified-cloud-practitioner.png"/>
                                    </div>
                                </TD>

                                <TD>
                                    <!--        AWS Certified Developer-->
                                    <div data-toggle="tooltip" data-html="true" title="AWS Certified Developer">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/aws-certified-developer-associate.png"/>
                                    </div>
                                </TD>

                                <TD>
                                    <!--        Postman Student Expert-->
                                    <div data-toggle="tooltip" data-html="true" title="Postman API Student Expert">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/pafse.png"/>
                                    </div>
                                </TD>

                                <TD>
                                    <!--        Databricks Fundamentals-->
                                    <div data-toggle="tooltip" data-html="true" title="Databricks Fundamentals">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/databricksfundamental.png"/>
                                    </div>
                                </TD>
                            </TR>
                        </TABLE>
                        <TABLE>
                            <TR>
                                <TD>
                                    <!--        Databricks Generative AI Fundamentals-->
                                    <div data-toggle="tooltip" data-html="true" title="Databricks Generative AI Fundamentals">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/databricksgenerativeai.png"/>
                                    </div>
                                </TD>
                                <TD>
                                    <!--        AWS Solutions Architect-->
                                    <div data-toggle="tooltip" data-html="true" title="AWS Solutions Architect">
                                        <img class="box w3-hover-opacity" style="float: left; width:auto; vertical-align: middle; margin: 5px; "
                                             src="https://d3dw5jtb3w1kgy.cloudfront.net/aws-certified-solutions-architect-associate.png"/>
                                    </div>
                                </TD>
                            </TR>
                        </TABLE>

                        <div class="w3-white w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge "
                                 style="width:100%; margin-left: -5px;"></div>
                        </div>

                        <br>
                    </div>
                </div>

                <!--                Travel-->
                <div class="w3-Azure w3-text-grey w3-card-2 w3-margin-bottom">

                    <div class="w3-container" style="color:transparent;">
                        <h4><p style="color: black;">
                            <i class="fa fa-map-marked-alt fa-fw w3-margin-right w3-text-teal;" style="color:#2f4f4f; font-size: medium; "></i>Travel</p></h4>


                        <div id="app_pic" style="">

                            <div class="" style="color:transparent;">
                                <div style="display: inline-block">

                                    <div style="display: flex; flex-wrap: wrap;margin-left: 10px">

                                        <div v-if="resources.length" class="table" style="display: flex; flex-wrap: wrap;">
                                            <div v-for="(item, index) in resultQuery" :key="index" style="margin-right: 15px; margin-bottom: 15px; ">
                                                <div data-toggle="tooltip" data-html="true" :title="item.title">
                                                    <center>
                                                        <button class="" style="background-color: transparent; border: none; cursor: pointer; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                                                            <img :src="item.image" style="width: 50px; height: 100%; object-fit: contain; padding: 2px"/>
                                                        </button>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="app_pic_can" style="">

                            <div class="" style="color:transparent;">
                                <div style="display: inline-block">

                                    <div style="display: flex; flex-wrap: wrap;margin-left: 10px">

                                        <div v-if="resources.length" class="table" style="display: flex; flex-wrap: wrap;">
                                            <div v-for="(item, index) in resultQuery" :key="index" style="margin-right: 15px; margin-bottom: 15px; ">
                                                <div data-toggle="tooltip" data-html="true" :title="item.title">
                                                    <button class="" style="background-color: transparent; border: none; cursor: pointer; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                                                        <img :src="item.image" style="width: 50px; height: 100%; object-fit: contain; padding: 2px"/>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="w3-white w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge "
                                 style="width:100%; margin-left: -5px;"></div>
                        </div>

                        <br>
                    </div>
                </div>


            </div>
        </header-tag>

        <!-- End Grid -->
    </div>
    <div class="info">
        <footer class="w3-center w3-margin-top " style="color:#FFFAFA;background-color: black; display: inline-block; width: 100% ">
            <div style="padding: 10px">
                <p style="padding-top: 15px;">Connect with me through Social Media</p>
                <a href="https://www.instragram.com/masrik_dahir" target="blank"><i style="font-size:36px" class="fab fa-instagram w3-hover-opacity">&#160&#160</i></a>
                <a href="https://www.twitter.com/masrik_dahir" target="blank"><i style="font-size:36px" class="fab fa-twitter w3-hover-opacity">&#160&#160</i></a>
                <a href="https://www.linkedin.com/in/masrik-dahir-2b79b2163/" target="_blank"><i style="font-size:36px" class="fab fa-linkedin w3-hover-opacity">&#160&#160</i></a>
                <a href="https://github.com/Masrik-Dahir" target="blank"><i style="font-size:36px" class="fab fa-github w3-hover-opacity">&#160&#160</i></a>
                <a href="https://app.joinhandshake.com/users/20195119" target="blank"><i style="font-size:36px" class="fas fa-handshake w3-hover-opacity">&#160&#160</i></a>
                <a href="https://www.youtube.com/channel/UC6JyPjDH6oYUi_efCEPp6fw" target="blank" ><i style="font-size:36px" class="fab fa-youtube-square w3-hover-opacity">&#160&#160</i></a>
                <a href="https://scholar.google.com/citations?hl=en&authuser=2&user=TX_u0HgAAAAJ" target="blank"><i style="font-size:36px" class="fas fa-graduation-cap w3-hover-opacity">&#160</i></a>
                <a href="https://www.researchgate.net/profile/Masrik-Dahir" style="text-decoration: none;" target="blank"><i style="font-size:34px" class='w3-hover-opacity'>R<sup>C</sup></i></a>
                <a href="https://ud.me/masrikdahir.nft" style="text-decoration: none" target="blank">
                    <b style="font-size:37px; color: black" class='w3-hover-opacity'>
                        <img class="" style="width:35px; vertical-align: middle; margin-bottom: 5px; margin-left: 5px "
                             src="https://d3dw5jtb3w1kgy.cloudfront.net/w3_white.png"/>
                    </b>
                </a>

                <a href="https://orcid.org/0000-0002-7841-310X" style="text-decoration: none" target="blank">
                    <b style="font-size:37px; color: black" class='w3-hover-opacity'>
                        <img class="" style="width:41px; vertical-align: middle;padding: 0px; margin-bottom: 5px"
                             alt="ORCID iD icon"
                             src="https://d3dw5jtb3w1kgy.cloudfront.net/orcid_white.png"/>
                    </b>
                </a>

            </div>
            <br>

        </footer>
    </div>

</div>


<div class="show" style="margin-left: 0;margin-right: 0; padding-right: 0; background: none">
        <div class="resizing-1026-more">
            <div class="topnav navbar-fixed-top"  style="background: white; border-bottom: 2px solid black;padding-top: 5px; padding-bottom: 5px; ">
                <a href="https://www.masrikdahir.com" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-left: 5px; margin-right: 5px; border: none; background: transparent">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: red; font-size: calc(15px + 0.4vw)">
                                <div class="wrapper">
                                </div>Home</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/work" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-left: 5px; margin-right: 5px; border: none; background: transparent">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                <div class="">
                                </div>Career</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/academia" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-left: 5px; margin-right: 5px; border: none; background: transparent">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Academia</b>
                            </div>
                        </div>
                    </button>
                </a>


                <a href="https://www.masrikdahir.com/software" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-left: 5px; margin-right: 5px; border: none; background: transparent">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Software</b>
                            </div>
                        </div>
                    </button>
                </a>



                <a href="https://www.masrikdahir.com/milestone" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-left: 5px; margin-right: 5px; border: none; background: transparent">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Milestones</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/map" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-left: 5px; margin-right: 5px; border: none; background: transparent">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Travel</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/games" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-left: 5px; margin-right: 5px; border: none; background: transparent">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Games</b>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
        </div>
        <div class="resizing-1026-less">
            <div class="topnav navbar-fixed-top"  style="background: rgb(35,47,62);">
                <TABLE>
                    <TR style="display: inline-block">
                        <a href="https://www.masrikdahir.com" style="text-decoration: none">
                            <button class="glow-on-hover3" type="button"
                                    style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px;border: red 3px solid">
                                <div style="" class="w3-padding-small">
                                    <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                        <div class="wrapper">
                                        </div>Home</b>
                                    </div>
                                </div>
                            </button>
                        </a>

                        <a href="https://www.masrikdahir.com/work" style="text-decoration: none">
                            <button class="glow-on-hover3" type="button"
                                    style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                                <div style="" class="w3-padding-small">
                                    <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                        <div class="">
                                        </div>Work Experience</b>
                                    </div>
                                </div>
                            </button>
                        </a>

                        <a href="https://www.masrikdahir.com/publication" style="text-decoration: none">
                            <button class="glow-on-hover3" type="button"
                                    style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                                <div style="" class="w3-padding-small">
                                    <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                        <div class="wrapper">
                                        </div>
                                        Publication</b>
                                    </div>
                                </div>
                            </button>
                        </a>

                        <a href="https://www.masrikdahir.com/academia" style="text-decoration: none">
                            <button class="glow-on-hover3" type="button"
                                    style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                                <div style="" class="w3-padding-small">
                                    <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                        <div class="wrapper">
                                        </div>
                                        Education</b>
                                    </div>
                                </div>
                            </button>
                        </a>
                    </TR>
                    <TR style="display: inline-block">
                        <a href="https://www.masrikdahir.com/software" style="text-decoration: none">
                            <button class="glow-on-hover3" type="button"
                                    style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                                <div style="" class="w3-padding-small">
                                    <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                        <div class="wrapper">
                                        </div>
                                        Software</b>
                                    </div>
                                </div>
                            </button>
                        </a>
                        <a href="https://www.masrikdahir.com/milestone" style="text-decoration: none">
                            <button class="glow-on-hover3" type="button"
                                    style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                                <div style="" class="w3-padding-small">
                                    <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                        <div class="wrapper">
                                        </div>
                                        Milestones</b>
                                    </div>
                                </div>
                            </button>
                        </a>

                        <a href="https://www.masrikdahir.com/map" style="text-decoration: none">
                            <button class="glow-on-hover3" type="button"
                                    style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                                <div style="" class="w3-padding-small">
                                    <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                        <div class="wrapper">
                                        </div>
                                        Travel</b>
                                    </div>
                                </div>
                            </button>
                        </a>

                        <a href="https://www.masrikdahir.com/games" style="text-decoration: none">
                            <button class="glow-on-hover3" type="button"
                                    style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                                <div style="" class="w3-padding-small">
                                    <div style=""><b style="color: black; font-size: calc(15px + 0.4vw)">
                                        <div class="wrapper">
                                        </div>
                                        Games</b>
                                    </div>
                                </div>
                            </button>
                        </a>
                    </TR>
                </TABLE>
            </div>

        </div>

        <canvas id='canv'></canvas>

        <div class="container2" style="margin: 10px; position: relative;">
            <div class="stack" style="--stacks: 3;">
                <span style="--index: 0; color: #000">MASRIK&nbsp;DAHIR</span>
                <span style="--index: 1; color: #000">MASRIK&nbsp;DAHIR</span>
                <span style="--index: 2; color: #000">MASRIK&nbsp;DAHIR</span>
            </div>
            <span>

            <a href="https://www.instragram.com/masrik_dahir" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><i style="font-size:30px; color:black" class="fab fa-instagram w3-hover-opacity"></i></button></a>
            <a href="https://www.twitter.com/masrik_dahir" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><i style="font-size:30px; color:black" class="fab fa-twitter w3-hover-opacity"></i></button></a>
            <a href="https://www.linkedin.com/in/masrik-dahir-2b79b2163/" target="_blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><i style="font-size:30px; color:black" class="fab fa-linkedin w3-hover-opacity"></i></button></a>
            <a href="https://github.com/Masrik-Dahir" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><i style="font-size:30px; color:black" class="fab fa-github w3-hover-opacity"></i></button></a>
            <a href="https://app.joinhandshake.com/users/20195119" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><i style="font-size:30px; color:black" class="fas fa-handshake w3-hover-opacity"></i></button></a>
            <a href="https://www.youtube.com/channel/UC6JyPjDH6oYUi_efCEPp6fw" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><i style="font-size:30px; color:black" class="fab fa-youtube-square w3-hover-opacity"></i></button></a>
            <a href="https://scholar.google.com/citations?hl=en&authuser=2&user=TX_u0HgAAAAJ" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><i style="font-size:30px; color:black" class="fas fa-graduation-cap w3-hover-opacity"></i></button></a>
            <a href="https://www.researchgate.net/profile/Masrik-Dahir" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><span style="font-size:22px; color:black; line-height:1" class="w3-hover-opacity">R<sup style="font-size:12px; vertical-align:super">C</sup></span></button></a>
            <a href="https://ud.me/masrikdahir.nft" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><img style="width:30px; height:30px; object-fit:contain;" src="https://d3dw5jtb3w1kgy.cloudfront.net/w3-1.png" alt="Web3" class="w3-hover-opacity"/></button></a>
            <a href="https://orcid.org/0000-0002-7841-310X" target="blank" style="text-decoration:none; display:inline-block; vertical-align:top;">
                <button class="glow-on-hover12" style="margin:5px; padding:0; width:52px; height:52px; display:inline-flex; align-items:center; justify-content:center;"><img style="width:30px; height:30px; object-fit:contain;" alt="ORCID iD icon" src="https://d3dw5jtb3w1kgy.cloudfront.net/orcid.png" class="w3-hover-opacity"/></button></a>
        </span>

        </div>

    </div>

</body>
</html>
