<!DOCTYPE html>
<html lang="en">
<head style="caret-color: transparent;">
    <!--    Metadata imports-->
    <link rel="icon" type="image/gif/png" href="https://d3dw5jtb3w1kgy.cloudfront.net/logo.png">
    <title>Masrik Dahir</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
    <link rel="stylesheet" href="css/milestone.css">

    <!--    CSS imports-->
    <link rel="stylesheet" href="css/vendor/www.w3schools.com.w3css.4.w3.css">
    <link rel="stylesheet" href="css/vendor/cdnjs.cloudflare.com.ajax.libs.font-awesome.4.7.0.css.font-awesome.min.css">

    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/box.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/community.css">
    <link rel="stylesheet" href="css/resize.css">
    <link rel="stylesheet" href="css/glowing.css">
    <link rel="stylesheet" href="css/lead.css">
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/if.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/vintage.css">

    <!--    Site-wide loader + polish + animations -->
    <link rel="stylesheet" href="css/eagle-loader.css">
    <link rel="stylesheet" href="css/polish.css">
    <link rel="stylesheet" href="css/animations.css">

    <!--    JS imports-->
    <script src="js/vendor/code.jquery.com.jquery-1.10.2.js"></script>
    <script src="js/vendor/ajax.googleapis.com.ajax.libs.jquery.3.5.1.jquery.min.js"></script>
    <script src="js/icon-animation.js"></script>
    <script src="js/hourglass.js"></script>
    <script src="js/expand_jquery.js"></script>
    <script src="js/battery.js" defer></script>
    <script src="js/achievement.js" defer></script>
    <script src="js/collapsible.js" defer></script>
    <script src='js/aesthetics.js' crossorigin='anonymous'></script>
    <script src="js/components.js" defer></script>

    <!--    Vue JS imports-->
    <script src="js/vendor/vue@3.2.36.dist.vue.global.js"></script>
    <script src="vueJs/default.js" defer></script>
    <script src="vueJs/software.js" defer></script>

    <!--    Top Nav -->
    <script src="js/vendor/ajax.googleapis.com.ajax.libs.jquery.3.6.0.jquery.min.js"></script>
    <script src="js/vendor/maxcdn.bootstrapcdn.com.bootstrap.3.4.1.js.bootstrap.min.js"></script>

    <!--   Info Tooltip -->
    <link rel="stylesheet" href="css/d.css">
    <script src="js/vendor/jquery-3.6.1.min.js"></script>
    <script src="js/vendor/bootstrap-tooltip-3.4.1.min.js"></script>
    <script src="js/random.js" defer></script>

    <!--    Site-wide loader + animations + page graphics -->
    <script src="js/eagle-loader.js" defer></script>
    <script src="js/animations.js" defer></script>
    <script src="js/page-graphics.js" defer></script>
</head>

<body class="w3-white polish" data-page-graphics="confetti">
<div id="nav-placeholder"></div>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width: min(1800px, 95%); background-color: white">



    <!-- Right Column -->
    <div class="">

        <div class="button-wrapper" style="margin-top: 15px">
            <div id="app_milestone">
                <div class="table-responsive" style="margin: 10px; caret-color: transparent;">
                    <div v-if="resources.length" class="table" style="display: flex; flex-wrap: wrap; gap: 10px;">
                        <div v-for="item in resultQuery">
                            <div v-if="windowWidth > 1000">
                                <a style="text-decoration:none" v-bind:href="item.uri" target="_blank">
                                <button class="button-55" role="button" style="margin: 10px; width: 200px; overflow-wrap: break-word;"> <!-- Fixed width with word break -->
                                    <center>
                                        <h3 style="font-size: calc(12px + 0.4vw); word-break: break-word; white-space: normal;">{{item.title}}</h3>
                                        <div class="w3-container">
                                                <img v-bind:src="item.img" v-bind:style="item.style" alt="Masrik Dahir"/>
                                            <p style="font-size: 15px; word-break: break-word; white-space: normal;">{{item.des}}</p>
                                        </div>
                                    </center>
                                </button>
                                </a>
                            </div>
                            <div v-else>
                                <a style="text-decoration:none" v-bind:href="item.uri" target="_blank">

                                <button class="button-55" role="button" style="margin: 10px; width: 150px; overflow-wrap: break-word;"> <!-- Fixed width with word break -->
                                    <center>
                                        <h3 style="font-size: calc(12px + 0.4vw); word-break: break-word; white-space: normal;">{{item.title}}</h3>
                                        <div class="w3-container">
                                            <img v-bind:src="item.img" v-bind:style="item.style" alt="Masrik Dahir"/>
                                            <p style="font-size: 15px; word-break: break-word; white-space: normal;">{{item.des}}</p>
                                        </div>
                                    </center>
                                </button>
                                </a>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div id="footer-placeholder"></div>
</body>
</html>