<!DOCTYPE html>
<html>
<head>
    <!--    Metadata imports-->
    <link rel="icon" type="image/gif/png" href="./Images/logo.png">
    <title>Masrik Dahir</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    CSS imports-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=georgia'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/box.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/community.css">
    <link rel="stylesheet" href="css/resize.css">
    <link rel="stylesheet" href="css/glowing.css">
    <link rel="stylesheet" href="css/lead.css">
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/if.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/search.css">

    <!--    JS imports-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/html.js"></script>
    <script src="js/hourglass.js"></script>
    <script src="js/expand_jquery.js"></script>
    <script src="js/briefcase.js" defer></script>
    <script src='js/aesthetics.js' crossorigin='anonymous'></script>

    <!--    Vue JS imports-->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="vueJs/default.js" defer></script>
    <script src="vueJs/software.js" defer></script>

    <!--    Top Nav -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body class="w3-white">
<div id="app" v-cloak>
    <div v-if="this.windowWidth >= 1200">
        <div class="topnav navbar-fixed-top">
            <a href="index.html" style="text-decoration: none">
                <button class="glow-on-hover3" type="button"
                        style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                    <div style="" class="w3-container">
                        <h6><b style="color: black; font-size: calc(10px + 0.4vw)">
                            <div class="wrapper">
                            </div>Home</b>
                        </h6>
                    </div>
                </button>
            </a>

            <a href="work.html" style="text-decoration: none">
                <button class="glow-on-hover3" type="button"
                        style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                    <div style="" class="w3-container">
                        <h6><b style="color: black; font-size: calc(10px + 0.4vw)">
                            <div class="">
                            </div>Work Experience</b>
                        </h6>
                    </div>
                </button>
            </a>

            <a href="publication.html" style="text-decoration: none">
                <button class="glow-on-hover3" type="button"
                        style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                    <div style="" class="w3-container">
                        <h6><b style="color: black; font-size: calc(10px + 0.4vw)">
                            <div class="wrapper">
                            </div>
                            Publication</b>
                        </h6>
                    </div>
                </button>
            </a>

            <a href="education.html" style="text-decoration: none">
                <button class="glow-on-hover3" type="button"
                        style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                    <div style="" class="w3-container">
                        <h6><b style="color: black; font-size: calc(10px + 0.4vw)">
                            <div class="wrapper">
                            </div>
                            Education</b>
                        </h6>
                    </div>
                </button>
            </a>

            <a href="software.html" style="text-decoration: none">
                <button class="glow-on-hover3" type="button"
                        style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px;border: red 3px solid ">
                    <div style="" class="w3-container">
                        <h6><b style="color: black; font-size: calc(10px + 0.4vw)">
                            <div class="wrapper">
                            </div>
                            Software</b>
                        </h6>
                    </div>
                </button>
            </a>

            <a href="entrepreneurship.html" style="text-decoration: none">
                <button class="glow-on-hover3" type="button"
                        style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                    <div style="" class="w3-container">
                        <h6><b style="color: black; font-size: calc(10px + 0.4vw)">
                            <div class="wrapper">
                            </div>
                            Entrepreneurship</b>
                        </h6>
                    </div>
                </button>
            </a>

            <a href="leadership.html" style="text-decoration: none">
                <button class="glow-on-hover3" type="button"
                        style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                    <div style="" class="w3-container">
                        <h6><b style="color: black; font-size: calc(10px + 0.4vw)">
                            <div class="wrapper">
                            </div>
                            Leadership</b>
                        </h6>
                    </div>
                </button>
            </a>

            <a href="map.html" style="text-decoration: none">
                <button class="glow-on-hover3" type="button"
                        style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                    <div style="" class="w3-container">
                        <h6><b style="color: black; font-size: calc(10px + 0.4vw)">
                            <div class="wrapper">
                            </div>
                            Travel</b>
                        </h6>
                    </div>
                </button>
            </a>
        </div>
        <br><br>
    </div>
    <div v-else>
        <div class="popup" id="popup-3">
            <div class="overlay"></div>
            <div class="content">
                <div style="color: black">

                    <div class="w3-margin-bottom" style="position: relative; top: 10px; color: black;">
                        <link rel="stylesheet" href="css/bootstrap4.3.1.min.css" crossorigin="anonymous">
                        <div class="btn btn-dark" onclick="togglePopup('3')">&times;</div>
                    </div>
                    <a href="index.html" style="text-decoration: none">
                        <button class="glow-on-hover3 Blazing" type="button"
                                style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                            <div style="" class="w3-container">
                                <h4><b style="color: black">
                                    <div class="wrapper">
                                    </div>
                                    Home</b>
                                </h4>
                            </div>
                        </button>
                    </a>

                    <a href="work.html" style="text-decoration: none">
                        <button class="glow-on-hover3 Blazing" type="button"
                                style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                            <div style="" class="w3-container">
                                <h4><b style="color: black">
                                    <div class="wrapper">
                                    </div>
                                    Work Experience</b>
                                </h4>
                            </div>
                        </button>
                    </a>

                    <a href="publication.html" style="text-decoration: none">
                        <button class="glow-on-hover3 Blazing" type="button"
                                style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                            <div style="" class="w3-container">
                                <h4><b style="color: black">
                                    <div class="wrapper">
                                    </div>
                                    Publication</b>
                                </h4>
                            </div>
                        </button>
                    </a>

                    <a href="education.html" style="text-decoration: none">
                        <button class="glow-on-hover3 Blazing" type="button"
                                style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                            <div style="" class="w3-container">
                                <h4><b style="color: black">
                                    <div class="wrapper">
                                    </div>
                                    Education</b>
                                </h4>
                            </div>
                        </button>
                    </a>

                    <a href="software.html" style="text-decoration: none">
                        <button class="glow-on-hover3 Blazing" type="button"
                                style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px; border: red 3px solid">
                            <div style="" class="w3-container">
                                <h4><b style="color: black">
                                    <div class="wrapper">
                                    </div>
                                    Software</b>
                                </h4>
                            </div>
                        </button>
                    </a>

                    <a href="entrepreneurship.html" style="text-decoration: none">
                        <button class="glow-on-hover3 Blazing" type="button"
                                style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                            <div style="" class="w3-container">
                                <h4><b style="color: black">
                                    <div class="wrapper">
                                    </div>
                                    Entrepreneurship</b>
                                </h4>
                            </div>
                        </button>
                    </a>

                    <a href="leadership.html" style="text-decoration: none">
                        <button class="glow-on-hover3 Blazing" type="button"
                                style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                            <div style="" class="w3-container">
                                <h4><b style="color: black">
                                    <div class="wrapper">
                                    </div>
                                    Leadership</b>
                                </h4>
                            </div>
                        </button>
                    </a>

                    <a href="map.html" style="text-decoration: none">
                        <button class="glow-on-hover3 Blazing" type="button"
                                style="margin-top: min(calc(1px + 2vw), 10px); margin-left: 10px">
                            <div style="" class="w3-container">
                                <h4><b style="color: black">
                                    <div class="wrapper">
                                    </div>
                                    Travel</b>
                                </h4>
                            </div>
                        </button>
                    </a>

                </div>

            </div>
        </div>

        <div>
            <button onclick="togglePopup('3')" class="cent crop" style=""><img src="Images/menu.png" width="25"
                                                                               height="20" alt="Masrik Dahir">
                <bdi style=" margin-top: 5px"> Menu</bdi>
            </button>

        </div>
    </div>
    <br>
</div>
<script>
    function togglePopup(num) {
        document.getElementById(`popup-${num}`).classList.toggle("active");
    }
</script>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width: min(1800px, 95%); background-color: white">
        <div id="app_software">
            <div class="panel panel-default">
                <div class="panel-heading">
                <div class="row" style="margin-bottom: 10px">
                    <div class="form-control search-wrapper panel-heading col-sm-12" type="text" v-model="searchQuery" placeholder="Search">
                        <center>
                            <div class="search_logo">
                            </div>
                            <div class="search_bar">
                                <img src="Images/Search.png" width="25"> &nbsp;&nbsp;
                                <input class="search_searchbar" type="text" title="Search" v-model="searchQuery">
                            </div>
                            <div class="search_buttons">
                            </div>
                        </center>
                    </div>
                </div>
                <div class="table-responsive">
                    <div v-if="resources.length" class="table">
                        <div v-for="item in resultQuery">
<!--                            <td><a v-bind:href="item.uri" target="_blank">{{item.title}} {{item.des}}</a></td>-->
                            <button class="glow-on-hover3 Blazing" type="button"
                                    style="margin: min(calc(1px + 2vw), 10px); padding-left: 15px">
                                <TABLE WIDTH="100%">
                                    <TR>
                                        <TD WIDTH="80%">
                                            <a v-bind:href="item.uri" target="_blank" style="text-decoration: none">
                                                <h2><b style="color: black">
                                                    <div class="wrapper">
                                                    </div>
                                                    {{item.title}}</b>
                                                    <b class="color w3-text-teal;" style="float: right; color:DarkSlateGray;">
                                                        <bdi style="font-size: calc(10px + .5vw);"></bdi>
                                                    </b></h2>
                                                <p style="font-size: 15px">{{item.des}}</p>

                                            </a>
                                        </TD>

                                        <!--       Windows     -->
                                        <TD WIDTH="5%" v-if="item.uri_windows !== '' ">
                                            <a v-bind:href="item.uri_windows" target="_blank"><i
                                                    style="font-size: calc(20px + 1vw)"
                                                    class="fab fa-windows w3-hover-opacity">&#160&#160</i></a>
                                        </TD>

                                        <!--       Mac     -->
                                        <TD WIDTH="5%" v-if="item.uri_apple !== '' ">
                                            <a v-bind:href="item.uri_apple" target="_blank"><i
                                                    style="font-size: calc(20px + 1vw)"
                                                    class="fab fa-apple w3-hover-opacity">&#160&#160</i></a>
                                        </TD>

                                        <!--       Android     -->
                                        <TD WIDTH="5%" v-if="item.uri_android !== '' ">
                                            <a v-bind:href="item.uri_android" target="_blank"><i
                                                    style="font-size: calc(20px + 1vw)"
                                                    class="fab fa-google-play w3-hover-opacity">&#160&#160</i></a>
                                        </TD>

                                        <!--       Web     -->
                                        <TD WIDTH="5%" v-if="item.uri_web !== '' ">
                                            <a v-bind:href="item.uri_web" target="_blank"><i
                                                    style="font-size: calc(20px + 1vw)"
                                                    class="fa fa-space-shuttle w3-hover-opacity">&#160&#160</i></a>
                                        </TD>

                                        <!--       GitHub     -->
                                        <TD WIDTH="5%" v-if="item.uri_github !== '' ">
                                            <a v-bind:href="item.uri_github" target="_blank"><i
                                                    style="font-size: calc(20px + 1vw)"
                                                    class="fab fa-github w3-hover-opacity">&#160&#160</i></a>
                                        </TD>


                                    </TR>
                                </TABLE>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>




    <!-- End Page Container -->
</div>

<div id="footer"></div>
</body>
</html>
