<!DOCTYPE html>
<html style="caret-color: transparent;">
<head>
    <!--    Metadata imports-->
    <link rel="icon" type="image/gif/png" href="./Images/logo.png">
    <title>Masrik Dahir</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    CSS imports-->
    <link rel="stylesheet" href="library/www.w3schools.com.w3css.4.w3.css">
    <link rel="stylesheet" href="library/cdnjs.cloudflare.com.ajax.libs.font-awesome.4.7.0.css.font-awesome.min.css">

    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/box.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/glowing.css">
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/if.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="css/vintage.css">



    <!--    JS imports-->
    <script src="library/code.jquery.com.jquery-1.10.2.js"></script>
    <script src="js/html.js"></script>
    <script src="js/hourglass.js"></script>
    <script src="js/expand_jquery.js"></script>
    <script src="js/briefcase.js" defer></script>
    <script src='js/aesthetics.js' crossorigin='anonymous'></script>

    <!--    Vue JS imports-->
    <script src="library/vue@3.2.36.dist.vue.global.js"></script>
    <script src="vueJs/default.js" defer></script>
    <script src="vueJs/software.js" defer></script>

    <!--    Top Nav -->
    <script src="library/ajax.googleapis.com.ajax.libs.jquery.3.6.0.jquery.min.js"></script>
    <script src="library/maxcdn.bootstrapcdn.com.bootstrap.3.4.1.js.bootstrap.min.js"></script>

    <!--   Info Tooltip -->
    <link rel="stylesheet" href="css/d.css">
    <script src="bootstrap/js/ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="bootstrap/js/maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/random.js" defer></script>

</head>

<body class="w3-white" style="">
<div id="app" v-cloak>
    <div class="resizing-1026-more">
        <div class="w3-content" style="max-width: min(1800px, 95%); background-color: white">
            <div class="topnav navbar-fixed-top" style="display: flex; justify-content: center; background: white; border-bottom: black 2px solid; padding: 5px 10px; flex-wrap: wrap;">
                <a href="https://www.masrikdahir.com" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(10px + 0.4vw)">
                                <div class="wrapper">
                                </div>Home</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/work" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: red; font-size: calc(10px + 0.4vw)">
                                <div class="">
                                </div>Work</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/publication" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(10px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Publication</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/education" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(10px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Education</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/software" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(10px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Software</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/entrepreneurship" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(10px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Entrepreneurship</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/leadership" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(10px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Leadership</b>
                            </div>
                        </div>
                    </button>
                </a>

                <a href="https://www.masrikdahir.com/map" style="text-decoration: none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin-top: 5px; margin-bottom: 5px; margin-left: 10px">
                        <div style="" class="w3-padding-small">
                            <div style=""><b style="color: black; font-size: calc(10px + 0.4vw)">
                                <div class="wrapper">
                                </div>
                                Travel</b>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <br><br><br>
        </div>

    </div>
    <div class="resizing-1026-less" style="margin-bottom: 70px">
        <div class="popup" id="popup-3" style="">
            <div class="overlay"></div>
            <div class="content" style="">
                <div style="color: black; ">
                    <TABLE>
                        <TR>
                            <TD>
                                <a href="https://www.masrikdahir.com" style="text-decoration: none">
                                    <button class="glow-on-hover-nav" type="button"
                                            style="float: left; padding: 5px">
                                        <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                            <div class="wrapper" >
                                            </div>Home</b>
                                        </div>
                                    </button>
                                </a>
                            </TD>

                        </TR>
                        <TR>
                            <TD>
                                <a href="https://www.masrikdahir.com/work" style="text-decoration: none">
                                    <button class="glow-on-hover-nav" type="button"
                                            style="float: left; padding: 5px">
                                        <div style=""><b style="color: red; font-size: calc(20px + 0.4vw)">
                                            <div class="wrapper" >
                                            </div>Work</b>
                                        </div>
                                    </button>
                                </a>
                            </TD>


                        </TR>
                        <TR>
                            <TD>
                                <a href="https://www.masrikdahir.com/publication" style="text-decoration: none">
                                    <button class="glow-on-hover-nav" type="button"
                                            style="float: left; padding: 5px">
                                        <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                            <div class="wrapper" >
                                            </div>Publication</b>
                                        </div>
                                    </button>
                                </a>
                            </TD>
                        </TR>

                        <TR>
                            <TD>
                                <a href="https://www.masrikdahir.com/education" style="text-decoration: none">
                                    <button class="glow-on-hover-nav" type="button"
                                            style="float: left; padding: 5px">
                                        <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                            <div class="wrapper" >
                                            </div>Education</b>
                                        </div>
                                    </button>
                                </a>
                            </TD>
                        </TR>

                        <TR>
                            <TD>
                                <a href="https://www.masrikdahir.com/software" style="text-decoration: none">
                                    <button class="glow-on-hover-nav" type="button"
                                            style="float: left; padding: 5px">
                                        <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                            <div class="wrapper" >
                                            </div>Software</b>
                                        </div>
                                    </button>
                                </a>

                            </TD>
                        </TR>

                        <TR>
                            <TD>
                                <a href="https://www.masrikdahir.com/entrepreneurship" style="text-decoration: none">
                                    <button class="glow-on-hover-nav" type="button"
                                            style="float: left; padding: 5px">
                                        <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                            <div class="wrapper" >
                                            </div>Entrepreneurship</b>
                                        </div>
                                    </button>
                                </a>

                            </TD>
                        </TR>

                        <TR>
                            <TD>
                                <a href="https://www.masrikdahir.com/leadership" style="text-decoration: none">
                                    <button class="glow-on-hover-nav" type="button"
                                            style="float: left; padding: 5px">
                                        <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                            <div class="wrapper" >
                                            </div>Leadership</b>
                                        </div>
                                    </button>
                                </a>
                            </TD>
                        </TR>

                        <TR>
                            <TD>
                                <a href="https://www.masrikdahir.com/map" style="text-decoration: none">
                                    <button class="glow-on-hover-nav" type="button"
                                            style="float: left; padding: 5px">
                                        <div style=""><b style="color: black; font-size: calc(20px + 0.4vw)">
                                            <div class="wrapper" >
                                            </div>Travel</b>
                                        </div>
                                    </button>

                                </a>
                            </TD>
                        </TR>
                    </TABLE>

                </div>

            </div>
        </div>

        <div class="topnav-2 navbar-fixed-top">



            <h5 class="w3-margin-right w3-margin-left" style="float: left; padding: 5px">
                <div class="main">Masrik Dahir</div>
            </h5>

            <button onclick="togglePopup('3')" class="w3-margin-right w3-margin-left glow-on-hover-nav" style="float: right; padding: 5px; margin-top: 15px"><img src="Images/menu.png" width="25" height="20" alt="Masrik Dahir">
            </button>




        </div>
    </div>
</div>
<script>
    function togglePopup(num) {
        document.getElementById(`popup-${num}`).classList.toggle("active");
    }
</script>

<!-- Page Container -->
<div  class="w3-content w3-margin-top" style="max-width: min(1800px, 95%); background-color: white">

    <!-- The Grid -->
        <h4 class="w3-container w3-margin-top" style="margin-bottom: 10px;" >
            <b>
                <a class="btn1">
                    <img type="button" id="mymapshowButton" class="btn btn-outline-primary pop-up-button" style="width: calc(1% + 45px); height:calc(1% + 45px); margin: 1px; float: right; border: 1px solid black" src="./Images/Icons/collapse.png"
                         />
                </a>
                <a class="btn2">
                    <img type="button" id="mymaphideButton"  class="btn btn-outline-primary pop-up-button" style="width: calc(1% + 45px); height:calc(1% + 45px); margin: 1px; float: right; border: 1px solid red; background: lightsalmon" src="./Images/Icons/extend.png"
                         />
                </a>
            </b>
        </h4>


        <bdi id="app2" v-cloak>

        <!--        CoStar     -->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">Software Engineer Associate
            </b>

                <bdi v-if="this.windowWidth >= 1200">
                    <b class="color w3-text-teal;" style="float: right; color:crimson;">
                        <bdi style="font-size: calc(10px + .5vw);">Jul 2023 - <span
                                style="background-color: crimson; color:white; padding: 2px">Current</span></bdi>
                    </b>
                </bdi>
            </h4>
            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent; display: flex; flex-wrap: wrap; margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="CoStar Group" style="margin-right: 50px">
                                <a href="https://www.costar.com/" target="_blank">
                                    <img src="./Images/costar.png" style="width: calc(1vw + 100px); margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                                </a>
                            </div>
                        </TD>

                        <TD style="color:transparent; text-align: right;" v-if="this.windowWidth >= 1200">
                            <div style="display: flex; justify-content: flex-end; align-items: center;">
                                <div data-toggle="tooltip" data-html="true" title="AWS Certified Developer" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://www.credly.com/badges/4ea74952-8783-44af-9425-119b2434bf38/public_url" target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/acd.png" style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                                    </a>
                                </div>
                                <div data-toggle="tooltip" data-html="true" title="Postman API Student Expert" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://api.badgr.io/public/assertions/6VeZHynPSSCsqE6RQIA0_A?identity__email=masrikdahir%40gmail.com" target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/pafse.png" style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                                    </a>
                                </div>
                                <div data-toggle="tooltip" data-html="true" title="Databricks Generative AI Fundamentals" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://credentials.databricks.com/65a906a0-cddf-4ef7-92d6-e4c8a35b8c97#gs.fi80df" target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/databricksgenerativeai.png" style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                                    </a>
                                </div>
                                <div data-toggle="tooltip" data-html="true" title="Databricks Fundamentals" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://credentials.databricks.com/3fc5d768-443c-40fa-828c-fedadb94ba5e#gs.f0fbn2" target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/databricksgenerativeai.png" style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                                    </a>
                                </div>



                            </div>
                        </TD>

                    </TR>
                    <TR>
                    </TR>
                </TABLE>
                <div style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 15px" v-if="this.windowWidth < 1200">
                    <div data-toggle="tooltip" data-html="true" title="AWS Certified Developer" style="margin-right: 20px; margin-top: 10px">
                        <a href="https://www.credly.com/badges/4ea74952-8783-44af-9425-119b2434bf38/public_url"
                           target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/acd.png"
                                 style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                 alt="Masrik Dahir"/>
                        </a>
                    </div>
                    <div data-toggle="tooltip" data-html="true" title="Postman API Student Expert" style="margin-right: 20px; margin-top: 10px">
                        <a href="https://api.badgr.io/public/assertions/6VeZHynPSSCsqE6RQIA0_A?identity__email=masrikdahir%40gmail.com"
                           target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/pafse.png"
                                 style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                 alt="Masrik Dahir"/>
                        </a>
                    </div>
                    <div data-toggle="tooltip" data-html="true" title="Databricks Generative AI Fundamentals" style="margin-right: 20px; margin-top: 10px">
                        <a href="https://credentials.databricks.com/65a906a0-cddf-4ef7-92d6-e4c8a35b8c97#gs.fi80df" target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/databricksgenerativeai.png" style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                        </a>
                    </div>
                    <div data-toggle="tooltip" data-html="true" title="Databricks Fundamentals" style="margin-right: 20px; margin-top: 10px">
                        <a href="https://credentials.databricks.com/3fc5d768-443c-40fa-828c-fedadb94ba5e#gs.f0fbn2" target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/databricksgenerativeai.png" style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                        </a>
                    </div>
                </div>

            </ul>
            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi style="">Jul 2023 - Current</bdi>
                        </li>
                    </bdi>
                    <li>C#, .NET, .NET Framework, Entity Framework, ASP.NET, ASP.NET Core, NUnit</li>
                    <li>TypeScript, React, REST APIs with .NET and C#, Microsoft SQL Server</li>
                    <li>AWS: DynamoDB, EKS, Lambda, Athena, SQS, SNS, S3, Fargate, EC2, IAM, Terraform, DataBrew, Glue</li>
                    <li>Datadog, Alteryx, Databricks</li>
                    <li>Built dynamic and generic processes to handle ETL jobs</li>
                    <li>Separation of concerns, microservice API, storage and memory management via throttling and threading, dynamic workflow for plans with conditional branching</li>
                    <li>Built File Sync to transfer files between SFTP, FTP, UNC, and S3 with configurable chunking, decompression, throttling, and file structure</li>
                    <li>Built Dynamic Message Transmitter to transmit messages to and from SQS, SNS, and Apache Kafka</li>
                    <li>Used Kubernetes to scale microservice APIs, implemented Redis Cache on API routes to reduce latency</li>
                    <li>Built Stage Athena to copy data streams from Athena to Microsoft SQL Server and PostgreSQL (schema conversion & data insertion)</li>
                    <li>Built Step Function Invoker to monitor step function steps and paths</li>
                    <li>Built pipelines and processes for school and tenant data: <a href="https://www.homes.com/" target="_blank">Homes.com</a>, <a href="https://www.apartments.com/" target="_blank">Apartments.com</a>, <a href="https://www.costar.com/" target="_blank">Costar.com</a>, and <a href="https://www.loopnet.com/" target="_blank">Loopnet.com</a></li>
                    <li>Built frontend architecture to display residential and commercial data</li>

                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        Capital One     -->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">Software Engineer Intern</b>

                <bdi v-if="this.windowWidth >= 1200">
                    <b class="color w3-text-teal;" style="float: right; color:crimson;">
                        <bdi style="font-size: calc(10px + .5vw);">May 2022 - Jun 2023</bdi>
                    </b>
                </bdi>
            </h4>
            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="Capital One Financial Corporation" style="margin-right: 50px">
                                <a href="https://www.capitalone.com/" target="_blank">
                                    <img style="float: left; vertical-align: middle; margin: 5px; width: calc(1vw + 100px); margin-left: calc(0% + -20px)" src="./Images/capitalone.png"
                                         alt="Masrik Dahir"/></a>
                            </div>

                        </TD>

                        <TD style="color:transparent; text-align: right;" v-if="this.windowWidth >= 1200">


                            <div style="display: flex; justify-content: flex-end; align-items: center;">

                                <div data-toggle="tooltip" data-html="true" title="AWS Cloud Practitioner" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://www.credly.com/badges/d5fb9b8a-3519-4480-bd92-ab5d066ce8d8"
                                       target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/aws-certified-cloud-practitioner.png"
                                             style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                             alt="Masrik Dahir"/>
                                    </a>
                                </div>
                                <div data-toggle="tooltip" data-html="true" title="Digital Thinking" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://www.credly.com/badges/8b7e822d-0fbd-488c-a4a2-576f45132df1"
                                       target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/idt.png"
                                             style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                             alt="Masrik Dahir"/>
                                    </a>
                                </div>
                                <div data-toggle="tooltip" data-html="true" title="The Art of the Pitch" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://www.credly.com/badges/428e687d-68fa-4ced-b123-2399275d921d"
                                       target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/taop.png"
                                             style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                             alt="Masrik Dahir"/>
                                    </a>
                                </div>
                                <div data-toggle="tooltip" data-html="true" title="Business Model Canvas" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://www.credly.com/badges/87a2accc-5b8c-42a9-a923-c4e191881f86"
                                       target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/itbmc.png"
                                             style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                             alt="Masrik Dahir"/>
                                    </a>
                                </div>
                            </div>
                        </TD>
                    </TR>
                </TABLE>

                <div style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 15px" v-if="this.windowWidth < 1200">
                    <div data-toggle="tooltip" data-html="true" title="Digital Thinking" style="margin-right: 20px; margin-top: 10px;">
                        <a href="https://www.credly.com/badges/8b7e822d-0fbd-488c-a4a2-576f45132df1"
                           target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/idt.png"
                                 style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                 alt="Masrik Dahir"/>
                        </a>
                    </div>

                    <div data-toggle="tooltip" data-html="true" title="The Art of the Pitch" style="margin-right: 20px; margin-top: 10px">
                        <a href="https://www.credly.com/badges/428e687d-68fa-4ced-b123-2399275d921d"
                           target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/taop.png"
                                 style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                 alt="Masrik Dahir"/>
                        </a>
                    </div>

                    <div data-toggle="tooltip" data-html="true" title="Business Model Canvas" style="margin-right: 20px; margin-top: 10px">
                        <a href="https://www.credly.com/badges/87a2accc-5b8c-42a9-a923-c4e191881f86"
                           target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/itbmc.png"
                                 style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                 alt="Masrik Dahir"/>
                        </a>
                    </div>

                    <div data-toggle="tooltip" data-html="true" title="AWS Cloud Practitioner" style="margin-right: 50px; margin-top: 10px">
                        <a href="https://www.credly.com/badges/d5fb9b8a-3519-4480-bd92-ab5d066ce8d8"
                           target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/aws-certified-cloud-practitioner.png"
                                 style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                 alt="Masrik Dahir"/>
                        </a>
                    </div>
                </div>
            </ul>
            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi style="">May 2022 - Jun 2023</bdi>
                        </li>
                    </bdi>
                    <li>Node.Js: NVM, HTTP API, Fastify, DynamoDB, NPM, Yarn;</li>
                    <li>Vue.Js: Vue CLI, database;</li>
                    <li>AWS: IAM roles, EC2 instances, S3 buckets and policy, ASGs, ALB, Lambda functions, Node
                        API
                    </li>
                    <li>UI Designing, Full Stack development, Agile development, REST API Call, Content and Performance Testing, building API endpoint, cache and content management, JIRA board, Postman
                    </li>
                    <li>Introduced a new caching entry to a Partner API for holding a list of capabilities</li>
                    <li>Created resource layer to enable new endpoints and performed Content and Performance Testing</li>
                    <li>Added a feature to visualize a preview of email communication sent to capital one customers</li>
                    <li>Used agile development with JIRA Board to collaborate with the team; Created a UI for a Spring Boot application</li>
                    <li>Maintained, committed, and resolved issues in message-preview repository</li>
                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        Virginia Department fo Election     -->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">Virginia Cyber Navigator </b>

                    <bdi v-if="this.windowWidth >= 1200">
                        <b class="color w3-text-teal;" style="float: right; color:crimson;">
                            <bdi style="font-size: calc(10px + .5vw);">May 2022 - Aug 2022</bdi>
                        </b>
                    </bdi>

            </h4>

            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="Virginia Department of Elections" style="margin-right: 50px">
                                <a href="https://www.elections.virginia.gov/" target="_blank">
                                    <img src="./Images/dept-of-elections-logo.png"
                                         style="width: calc(1vw + 200px); margin-left: calc(0% + -20px)" alt="Masrik Dahir"/></a>

                            </div>

                        </TD>
                    </TR>
                    <TR>

                    </TR>
                </TABLE>
            </ul>
            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi> May 2022 - Aug 2022</bdi>
                        </li>
                    </bdi>
                    <li>Worked closely with Roanoke County and Virginia Department of Election</li>
                    <li>Incident Response, Access Management Policy, Business Impact Analysis</li>
                    <li>Inventory and Database Security</li>
                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        iCubed Scolar -->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">Undergrad Researcher </b>
                <bdi v-if="this.windowWidth >= 1200">
                <b class="color w3-text-teal;" style="float: right; color:crimson;">
                    <bdi style="font-size: calc(10px + .5vw);">Aug 2021 - May 2022</bdi>
                </b>
                    </bdi>
            </h4>
            <ul>

                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="VCU iCubed" style="margin-right: 50px">
                                <a href="https://cbds.vcu.edu/" target="_blank">
                                    <img src="./Images/life.png"
                                         style="width: calc(1vw + 100px); min-width: 210px; margin-left: calc(0% + -25px)"
                                         alt="Masrik Dahir"/></a>
                            </div>
                        </TD>

                        <TD style="color:transparent; text-align: right;" v-if="this.windowWidth >= 1200">
                            <div style="display: flex; justify-content: flex-end; align-items: center;">
                                <div data-toggle="tooltip" data-html="true" title="Presentation of Research" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://www.credly.com/badges/3444641a-9f4a-41ab-8ff2-e978d642acb5/public_url" target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/por.png" style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                                    </a>
                                </div>
                            </div>
                        </TD>
                    </TR>
                </TABLE>

                <div style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 15px" v-if="this.windowWidth < 1200">
                    <div data-toggle="tooltip" data-html="true" title="Presentation of Research" style="margin-right: 50px; margin-top: 10px">
                        <a href="https://www.credly.com/badges/3444641a-9f4a-41ab-8ff2-e978d642acb5/public_url"
                           target="_blank">
                            <img class="box2 w3-hover-opacity" src="./Images/por.png"
                                 style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                 alt="Masrik Dahir"/>
                        </a>
                    </div>
                </div>

            </ul>
            <p1>
                <ul>
                    <TD WIDTH="99%">
                        <bdi v-if="this.windowWidth < 1200">
                            <li class="color w3-text-teal;" style="">
                                <bdi style="">Aug 2021 - May 2022</bdi>
                            </li>
                        </bdi>
                        <li>Built and coded automated Rampantries (food cart at VCU Monroe Park Campus); and</li>
                        <li>Used Raspberry pi to receive data and save it in the Cloud storage.</li>
                    </TD>
                    <TD WIDTH="1%">

                    </TD>

                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        School of Pharmacy-->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">Web Developer&emsp;</b>
                <bdi v-if="this.windowWidth >= 1200">
                <b class="color w3-text-teal;" style="float: right; color:crimson;">
                    <bdi style="font-size: calc(10px + .5vw);">Jun 2021 - Jan 2022</bdi>
                </b>
                </bdi>
            </h4>
            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="VCU School of Pharmacy" style="margin-right: 50px">
                                <a href="https://pharmacy.vcu.edu/" target="_blank">
                                    <img src="./Images/sop.png"
                                         style="width: calc(1vw + 100px); min-width: 210px; margin-left: calc(0% + -25px)"
                                         alt="Masrik Dahir"/></a>


                            </div>

                        </TD>
                    </TR>
                    <TR>

                    </TR>
                </TABLE>
            </ul>
            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi style="">Jun 2021 - Jan 2022</bdi>
                        </li>
                    </bdi>
                    <li>Manage VCU School of Pharmacy's website and multiple lab websites; and</li>
                    <li>Utilize the Terminal 4 content management system</li>
                    <li>Worked with Compass framework, WordPress, and cPanel</li>
                    <li>HTML, CSS, JavaScript, PHP, JQuery, AngularJS</li>
                    <li>Firmware troubleshoot and update</li>
                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        Att-->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">AT&T Summer Learning Academy Extern&emsp;</b>
                <bdi v-if="this.windowWidth >= 1200">
                <b class="color w3-text-teal;" style="float: right; color:crimson;">
                    <bdi style="font-size: calc(10px + .5vw);">May 2021 - Sep 2021</bdi>
                </b></bdi></h4>
            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="AT&T Inc." style="margin-right: 50px">
                                <a href="https://www.att.com/" target="_blank">
                                    <img src="./Images/att.png"
                                         style="width: calc(1vw + 40px); min-width: 100px; margin-left: calc(0% + -20px)"
                                         alt="Masrik Dahir"/></a>
                            </div>

                        </TD>

                        <TD style="color:transparent; text-align: right;" v-if="this.windowWidth >= 1200">
                            <div style="display: flex; justify-content: flex-end; align-items: center;">
                                <div data-toggle="tooltip" data-html="true" title="AT&T Academy Extern" style="margin-right: 20px; margin-top: 10px">
                                    <a href="https://www.credly.com/badges/d388f220-d5f2-44d8-8cee-7f2892d45f97/public_url" target="_blank">
                                        <img class="box2 w3-hover-opacity" src="./Images/badge_att.png" style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)" alt="Masrik Dahir"/>
                                    </a>
                                </div>
                            </div>
                        </TD>

                    </TR>
                </TABLE>
                <div style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 20px" v-if="this.windowWidth < 1200">
                    <div data-toggle="tooltip" data-html="true" title="AT&T Academy Extern" style="margin-right: 50px; margin-top: 10px">

                        <a href="https://www.credly.com/badges/d388f220-d5f2-44d8-8cee-7f2892d45f97/public_url"
                           target="_blank">
                            <img class="box2 w3-hover-opacity"  src="./Images/badge_att.png"
                                 style="width: calc(1vw + 20px); min-width: 50px; margin-left: calc(0% + -20px)"
                                 alt="Masrik Dahir"/></a>
                    </div>
                </div>
            </ul>
            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi style="">May 2021 - Sep 2021</bdi>
                        </li>
                    </bdi>
                    <li>5G and Edge Technology, Artificial Intelligence, Business Ethics, Cable Routing Basics, etc.
                    </li>
                    <li>Participated and contributed in live events</li>
                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        University of Missouri-->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);"> Research Fellow</b>
                <bdi v-if="this.windowWidth >= 1200">
                <b class="w3-text-teal;" style="float: right; color:crimson;">
                    <bdi style="font-size: calc(10px + .5vw);">Jun 2021 -
                        Jul 2021
                    </bdi>
                </b>
                    </bdi>
            </h4>
            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="VIMAN Lab, Mizzou Engineering" style="margin-right: 50px">
                                <a href="https://engineering.missouri.edu/" target="_blank">
                                    <img src="./Images/mu.jpg"
                                         style="width: calc(1vw + 100px); min-width: 210px; margin-left: calc(0% + -20px)"
                                         alt="Masrik Dahir"/></a>
                            </div>

                        </TD>
                    </TR>
                    <TR>

                    </TR>
                </TABLE>
            </ul>
            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi style="">Jun 2021 -
                                Jul 2021
                            </bdi>
                        </li>
                    </bdi>
                    <li>Developed a secured system in blockchain to process insurance claims and prevent fraudulent
                        claims and cyber-attacks i.e. Sybil attack,
                        50% attack, Timestamp manipulation, Malware, and Malicious code injection;
                    </li>
                    <li>Web Development, Angular Framework, Typescript, Hyperledger Composer. MySQL, Big Data
                        Analysis; and
                    </li>
                    <li>Firebase, AWS Services, Hadoop HDFS, Blockchain Technology, Formal Verification of System,
                        Attack Scenarios.
                    </li>
                    <li><a href="https://www.nsf.gov/" target="_blank">NSF</a> funded</li>
                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        Civilian Cyber-->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">Cyber Security Analyst</b>
                <bdi v-if="this.windowWidth >= 1200">
                <b class="w3-text-teal;" style="float: right; color:crimson;">
                    <bdi style="font-size: calc(10px + .5vw);">Feb 2021 -
                        Jun 2021
                    </bdi>
                </b></bdi></h4>
            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="Civilian Cyber LLC" style="margin-right: 50px">
                                <a href="https://civiliancyber.com/" target="_blank" style="text-decoration: none;">
                                    <img src="./Images/civiliancyber.png"
                                         style="width: calc(1vw + 50px); min-width: 50px; margin-left: calc(0% + -20px); "
                                         alt="Masrik Dahir"/> <bdi style="color: black">Civilian Cyber</bdi></a>
                            </div>

                        </TD>
                    </TR>
                    <TR>

                    </TR>
                </TABLE>
            </ul>

            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi style="">Feb 2021 -
                                Jun 2021
                            </bdi>
                        </li>
                    </bdi>
                    <li>Working on Joomla, Moodle framework; Administering databases; Integrating plug-ins:
                        Community Builder, Joomdle; and
                    </li>
                    <li>Developed advanced automation capable of providing feedback based on user's performance;
                        and
                    </li>
                    <li>Penetration Tests.</li>
                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        SAFE Lab-->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">Undergrad Researcher</b>
                <bdi v-if="this.windowWidth >= 1200">
                <b class="w3-text-teal;" style="float: right; color:crimson;">
                    <bdi style="font-size: calc(10px + .5vw);">Jun 2020 - May 2022</bdi>
                </b></bdi></h4>
            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="SAFE Lab, VCU Engineering" style="margin-right: 50px">
                                <a href="https://safe.lab.vcu.edu/" target="_blank" style="text-decoration: none;">
                                    <img src="./Images/safelab.JPG"
                                         style="width: calc(1vw + 50px); min-width: 70px; margin-left: calc(0% + -20px)"
                                         alt="Masrik Dahir"/><bdi style="color: black"> SAFE Lab</bdi></a>

                            </div>

                        </TD>
                    </TR>
                    <TR>

                    </TR>
                </TABLE>
            </ul>
            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi style="">Jun 2020 - May 2022</bdi>
                        </li>
                    </bdi>
                    <li>Researched in concept map files comparison and analysis using the algorithm; and</li>
                    <li>Computer Programs: CmapTools, PyCharm; Programming Language: Python; Libraries: Nltk,
                        Graphviz, XML, Natural Language Processing.
                    </li>
                    <hr>
                    <li>Creating a Graphical User Interface (GUI) that allows the memory of a virtual machine to
                        manipulate the memory contents (demonstrate malware intrusion), Virtual Machine
                        Introspection; and
                    </li>
                    <li>Programming Language: C, Python; Libvmi library, Volatility library, GUI Libraries (i.e.,
                        PyQT5).
                    </li>
                </ul>
            </p1>
            <hr>
        </div>
        <br>

        <!--        RamSec Lab-->
        <div class="w3-container w3-card" style="background-color: white">
            <h4><b style="color: black; font-size: calc(20px + .2vw);">Undergrad Researcher</b>
                <bdi v-if="this.windowWidth >= 1200">
                <b class="w3-text-teal;" style="float: right; color:crimson;">
                    <bdi style="font-size: calc(10px + .5vw);">Jan 2021 -
                        Sep 2021
                    </bdi>
                </b></bdi></h4>
            <ul>
                <TABLE WIDTH="100%">
                    <TR>
                        <TD WIDTH="96%" style="color:transparent;display: flex; flex-wrap: wrap;margin-left: 10px; margin-top: 10px">
                            <div data-toggle="tooltip" data-html="true" title="RamSec Lab, VCU Engineering" style="margin-right: 50px">
                                <a href="http://www.people.vcu.edu/~cfung/lab.html" target="_blank" style="text-decoration: none;">
                                    <img src="./Images/vcu.png"
                                         style="width: calc(1vw + 40px); min-width: 50px; margin-left: calc(0% + -20px)"
                                         alt="Masrik Dahir"/> <bdi style="color: black">RamSec: Cybersecurity Lab</bdi></a>
                            </div>

                        </TD>
                    </TR>
                    <TR>

                    </TR>
                </TABLE>
            </ul>
            <p1>
                <ul>
                    <bdi v-if="this.windowWidth < 1200">
                        <li class="color w3-text-teal;" style="">
                            <bdi style="">Jan 2021 -
                                Sep 2021
                            </bdi>
                        </li>
                    </bdi>
                    <li>Studying the existing models (IP Trackback Technique, Packet Market Technique, Entropy
                        Variation, Signature-based detection, Anomaly Detection) to prevent DDoS attacks; and
                    </li>
                    <li>Researching the server CPU loads in Syn Flood attack using Quic and TCP packets.</li>
                </ul>
            </p1>
            <hr>
        </div>
        <br>

        </bdi>

    <br>

    <!-- End Page Container -->
</div>
<script>
    const mymaphideButton = document.getElementById('mymaphideButton');
    const mymapshowButton = document.getElementById('mymapshowButton');



    mymaphideButton.addEventListener('click', () => {

        mymaphideButton.classList.add('active');
        mymapshowButton.classList.remove('active');
        mymaphideButton.style.border = "1px solid red";
        mymaphideButton.style.background = "lightsalmon";
        mymapshowButton.style.background = "white";
        mymapshowButton.style.border = "1px solid black";

    });

    mymapshowButton.addEventListener('click', () => {
        mymapshowButton.classList.add('active');
        mymaphideButton.classList.remove('active');
        mymaphideButton.style.border = "1px solid black";
        mymapshowButton.style.border = "1px solid red";
        mymapshowButton.style.background = "lightsalmon";
        mymaphideButton.style.background = "white";


    });
</script>
<footer id="footer-relative" class="w3-center w3-margin-top;" style="color:#FFFAFA;background-color: black; display: inline-block; width: 100% ">
    <div style="padding: 10px">
        <p style="padding-top: 15px;">Connect with me through Social Media</p>
        <a href="https://www.instragram.com/masrik_dahir" target="blank"><i style="font-size:36px" class="fab fa-instagram w3-hover-opacity">&#160&#160</i></a>
        <a href="https://www.twitter.com/masrik_dahir" target="blank"><i style="font-size:36px" class="fab fa-twitter w3-hover-opacity">&#160&#160</i></a>
        <a href="https://www.linkedin.com/in/masrik-dahir-2b79b2163/" target="_blank"><i style="font-size:36px" class="fab fa-linkedin w3-hover-opacity">&#160&#160</i></a>
        <a href="https://github.com/Masrik-Dahir" target="blank"><i style="font-size:36px" class="fab fa-github w3-hover-opacity">&#160&#160</i></a>
        <a href="https://app.joinhandshake.com/users/20195119" target="blank"><i style="font-size:36px" class="fas fa-handshake w3-hover-opacity">&#160&#160</i></a>
        <a href="https://www.youtube.com/channel/UC6JyPjDH6oYUi_efCEPp6fw" target="blank" ><i style="font-size:36px" class="fab fa-youtube-square w3-hover-opacity">&#160&#160</i></a>
        <a href="https://scholar.google.com/citations?hl=en&authuser=2&user=TX_u0HgAAAAJ" target="blank"><i style="font-size:36px" class="fas fa-graduation-cap w3-hover-opacity">&#160</i></a>
        <a href="https://www.researchgate.net/profile/Masrik-Dahir" style="text-decoration: none;" target="blank"><i style="font-size:34px" class='w3-hover-opacity'>R<sup>C</sup></i></a>
        <a href="https://ud.me/masrikdahir.nft" style="text-decoration: none" target="blank">
            <b style="font-size:37px; color: black" class='w3-hover-opacity'>
                <img class="" style="width:35px; vertical-align: middle; margin-bottom: 5px; margin-left: 5px "
                     src="Images/w3_white.png"/>
            </b>
        </a>


        <a href="https://orcid.org/0000-0002-7841-310X" style="text-decoration: none" target="blank">
            <b style="font-size:37px; color: black" class='w3-hover-opacity'>
                <img class="" style="width:41px; vertical-align: middle;padding: 0px; margin-bottom: 5px"
                     alt="ORCID iD icon"
                     src="Images/orcid_white.png"/>
            </b>
        </a>





    </div>
    <br>

</footer>
</body>

</html>
