<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>

    <!-- Metadata -->
    <link rel="icon" type="image/png" href="https://d3dw5jtb3w1kgy.cloudfront.net/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS imports -->
    <link rel="stylesheet" href="../library/www.w3schools.com.w3css.4.w3.css">
    <link rel="stylesheet" href="../library/cdnjs.cloudflare.com.ajax.libs.font-awesome.4.7.0.css.font-awesome.min.css">

    <link rel="stylesheet" href="../css/icons.css">
    <link rel="stylesheet" href="../css/box.css">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link rel="stylesheet" href="../css/community.css">
    <link rel="stylesheet" href="../css/resize.css">
    <link rel="stylesheet" href="../css/glowing.css">
    <link rel="stylesheet" href="../css/lead.css">
    <link rel="stylesheet" href="../css/new.css">
    <link rel="stylesheet" href="../css/if.css">
    <link rel="stylesheet" href="../css/vintage.css">
    <link rel="stylesheet" href="../css/d.css">
    <link rel="stylesheet" href="../css/map.element.css">

    <!-- JS imports -->
    <script src="../library/code.jquery.com.jquery-1.10.2.js"></script>
    <script src="../library/ajax.googleapis.com.ajax.libs.jquery.3.6.0.jquery.min.js"></script>
    <script src="../library/maxcdn.bootstrapcdn.com.bootstrap.3.4.1.js.bootstrap.min.js"></script>

    <script src="../js/html.js"></script>
    <script src="../js/hourglass.js"></script>
    <script src="../js/expand_jquery.js"></script>
    <script src="../js/briefcase.js" defer></script>
    <script src="../js/achievement.js" defer></script>
    <script src="../js/collapsible.js" defer></script>
    <script src="../js/aesthetics.js" crossorigin="anonymous"></script>

    <!-- Vue -->
    <script src="../library/vue@3.2.36.dist.vue.global.js"></script>

    <style>
        .tag { text-align: center; width: 100%; }
        .it { font-size: 24px; font-weight: bold; }
        .image-container {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }
        .image-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            transition: transform 0.3s ease;
            display: block;
        }
        .inactive-image { width: 150px; cursor: pointer; }
        .inactive-image:hover { transform: scale(1.1); z-index: 2; }
        .active-image { width: 100%; }
        .active-image img { transition: none; }
        .inactive-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .inactive-container .image-container {
            flex: 1 1 150px;
        }
    </style>

    <!-- Your existing Vue files (keep if needed elsewhere) -->
    <script src="../vueJs/default.js" defer></script>
    <script src="../vueJs/software.js" defer></script>
</head>

<body class="w3-white">

<div id="app" v-cloak>
    <!-- Desktop Nav -->
    <div class="resizing-1026-more">
        <div class="w3-content" style="max-width: min(1800px, 95%); background-color: white">
            <div class="topnav navbar-fixed-top"
                 style="display:flex; justify-content:center; background:white; border-bottom:black 2px solid; padding:5px 10px; flex-wrap:wrap;">
                <a href="https://www.masrikdahir.com" style="text-decoration:none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin:0 5px; border:none; background:transparent">
                        <b style="color:black; font-size:calc(15px + 0.4vw)">Home</b>
                    </button>
                </a>
                <a href="https://www.masrikdahir.com/work" style="text-decoration:none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin:0 5px; border:none; background:transparent">
                        <b style="color:black; font-size:calc(15px + 0.4vw)">Career</b>
                    </button>
                </a>
                <a href="https://www.masrikdahir.com/academia" style="text-decoration:none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin:0 5px; border:none; background:transparent">
                        <b style="color:black; font-size:calc(15px + 0.4vw)">Academia</b>
                    </button>
                </a>
                <a href="https://www.masrikdahir.com/software" style="text-decoration:none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin:0 5px; border:none; background:transparent">
                        <b style="color:black; font-size:calc(15px + 0.4vw)">Software</b>
                    </button>
                </a>
                <a href="https://www.masrikdahir.com/milestone" style="text-decoration:none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin:0 5px; border:none; background:transparent">
                        <b style="color:black; font-size:calc(15px + 0.4vw)">Milestones</b>
                    </button>
                </a>
                <a href="https://www.masrikdahir.com/map" style="text-decoration:none">
                    <button class="glow-on-hover-nav" type="button"
                            style="margin:0 5px; border:none; background:transparent">
                        <b style="color:red; font-size:calc(15px + 0.4vw)">Travel</b>
                    </button>
                </a>
            </div>
            <br><br><br>
        </div>
    </div>

    <!-- Mobile Nav Popup -->
    <div class="resizing-1026-less" style="margin-bottom: 70px">
        <div class="popup" id="popup-3">
            <div class="overlay" onclick="closePopup(3)"></div>
            <div class="content">
                <table>
                    <tr><td><a href="https://www.masrikdahir.com"><button class="glow-on-hover-nav" style="float:left;padding:5px"><b style="color:black;font-size:calc(20px + 0.4vw)">Home</b></button></a></td></tr>
                    <tr><td><a href="https://www.masrikdahir.com/work"><button class="glow-on-hover-nav" style="float:left;padding:5px"><b style="color:black;font-size:calc(20px + 0.4vw)">Career</b></button></a></td></tr>
                    <tr><td><a href="https://www.masrikdahir.com/academia"><button class="glow-on-hover-nav" style="float:left;padding:5px"><b style="color:black;font-size:calc(20px + 0.4vw)">Academia</b></button></a></td></tr>
                    <tr><td><a href="https://www.masrikdahir.com/software"><button class="glow-on-hover-nav" style="float:left;padding:5px"><b style="color:black;font-size:calc(20px + 0.4vw)">Software</b></button></a></td></tr>
                    <tr><td><a href="https://www.masrikdahir.com/milestone"><button class="glow-on-hover-nav" style="float:left;padding:5px"><b style="color:black;font-size:calc(20px + 0.4vw)">Milestones</b></button></a></td></tr>
                    <tr><td><a href="https://www.masrikdahir.com/map"><button class="glow-on-hover-nav" style="float:left;padding:5px"><b style="color:red;font-size:calc(20px + 0.4vw)">Travel</b></button></a></td></tr>
                </table>
            </div>
        </div>

        <div class="topnav-2 navbar-fixed-top">
            <h5 class="w3-margin-right w3-margin-left" style="float:left;padding:5px;padding-top:7px;padding-bottom:3px">
                <div class="main">Masrik Dahir</div>
            </h5>

            <button onclick="togglePopup(3)" class="w3-margin-right w3-margin-left glow-on-hover-nav"
                    style="float:right;padding:5px;margin-top:15px;border:none">
                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/menu.png" width="25" height="20" alt="Masrik Dahir">
            </button>
        </div>
    </div>
</div>

<!-- Gallery / Slideshow -->
<table width="100%" style="margin-top: 10px">
    <tr>
        <td width="100%">
            <div class="content-slideshow-container">

                <div id="app_va" class="w3-margin-bottom">
                    <div class="tag w3-margin-bottom">
                        <div class="it">{{ name }}</div>
                    </div>

                    <!-- Slideshow (keep DOM alive) -->
                    <div id="showSlide" v-show="isSlideVisible">
                        <div v-for="item in resources" :key="item.url" class="content-slide">
                            <img :src="item.url" style="width:100%; height: 100%; object-fit: contain; padding: 0px"/>
                        </div>
                    </div>

                    <!-- Gallery (keep DOM alive) -->
                    <div id="showGal" v-show="!isSlideVisible">
                        <div class="inactive-container w3-margin-top w3-margin-left w3-margin-right">
                            <div v-for="(item, index) in resources" :key="item.url">
                                <div v-if="item.isActive" class="image-container active-image">
                                    <img :src="item.url" />
                                </div>
                                <div v-else class="inactive-image image-container" @click="selectImage(index)">
                                    <img :src="item.url" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <div class="content-dot-container-frame w3-margin-bottom w3-margin-top">
                        <div class="resizing-1026-more">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="content-dot-container" style="padding: 10px">

                                            <button class="glow-on-hover4 Blazing" style="margin: 5px">
                                                <a href="http://www.masrikdahir.com"><img src="https://d3dw5jtb3w1kgy.cloudfront.net/Icons/home.png" style="width: 40px;"></a>
                                            </button>

                                            <button class="glow-on-hover4 Blazing" style="width: fit-content;margin: 5px" onclick="prevSlide()">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/Icons/left_arrow.png" style="width: 40px;">
                                            </button>

                                            <button class="glow-on-hover4 Blazing" style="width: fit-content;margin: 5px" @click="showGallery">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/gallery.png" style="width: 40px;">
                                            </button>

                                            <button class="glow-on-hover4 Blazing" style="width: fit-content;margin: 5px" @click="showSlide">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/slideshow.png" style="width: 40px;">
                                            </button>

                                            <button class="glow-on-hover4" style="width: fit-content;margin: 5px" onclick="pauseSlideShow()">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/pause.png" style="width: 40px;">
                                            </button>

                                            <button class="glow-on-hover4" style="width: fit-content;margin: 5px" onclick="resumeSlideShow()">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/resume.webp" style="width: 40px;">
                                            </button>

                                            <button class="glow-on-hover4 Blazing" style="width: fit-content;margin: 5px" onclick="nextSlide()">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/Icons/right_arrow.png" style="width: 40px;">
                                            </button>

                                            <!-- Dots -->
                                            <div v-for="(item, index) in limitedResultQuery" :key="'dot-' + item.url">
                                                <img v-if="currentIndex === index" :src="item.url" :alt="item.title" />
                                                <span class="content-dot"
                                                      style="margin-top: 20px; width: 8px; height: 8px"
                                                      @click="currentSlideVue(index)">
                                                </span>
                                            </div>

                                            <button class="glow-on-hover4 Blazing" style="margin: 5px">
                                                <a href="http://www.masrikdahir.com/map"><img src="https://d3dw5jtb3w1kgy.cloudfront.net/Icons/map.png" style="width: 40px;"></a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!-- Mobile controls -->
                        <div class="resizing-1026-less">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="content-dot-container" style="padding: 2px">
                                            <button class="glow-on-hover4 Blazing" style="padding: 2px; margin: 5px">
                                                <a href="http://www.masrikdahir.com"><img src="https://d3dw5jtb3w1kgy.cloudfront.net/Icons/home.png" style="width: calc(1vw + 20px);"></a>
                                            </button>
                                            <button class="glow-on-hover4 Blazing" style="width: fit-content; padding: 2px; margin: 5px" onclick="prevSlide()">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/Icons/left_arrow.png" style="width: calc(1vw + 20px);">
                                            </button>
                                            <button class="glow-on-hover4 Blazing" style="width: fit-content; padding: 2px; margin: 5px" @click="showGallery">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/gallery.png" style="width: calc(1vw + 20px);">
                                            </button>
                                            <button class="glow-on-hover4 Blazing" style="width: fit-content; padding: 2px; margin: 5px" @click="showSlide">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/slideshow.png" style="width: calc(1vw + 20px);">
                                            </button>
                                            <button class="glow-on-hover4" style="width: fit-content; padding: 2px; margin: 5px" onclick="pauseSlideShow()">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/pause.png" style="width: calc(1vw + 20px);">
                                            </button>
                                            <button class="glow-on-hover4" style="width: fit-content; padding: 2px; margin: 5px" onclick="resumeSlideShow()">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/resume.webp" style="width: calc(1vw + 20px);">
                                            </button>
                                            <button class="glow-on-hover4 Blazing" style="width: fit-content; padding: 2px; margin: 5px" onclick="nextSlide()">
                                                <img src="https://d3dw5jtb3w1kgy.cloudfront.net/Icons/right_arrow.png" style="width: calc(1vw + 20px);">
                                            </button>
                                            <button class="glow-on-hover4 Blazing" style="padding: 2px; margin: 5px">
                                                <a href="http://www.masrikdahir.com/map"><img src="https://d3dw5jtb3w1kgy.cloudfront.net/Icons/map.png" style="width: calc(1vw + 20px);"></a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </td>
    </tr>
</table>

<!-- Footer -->
<footer id="footer-relative" class="w3-center w3-margin-top"
        style="color:#FFFAFA;background-color:black; display:inline-block; width:100%; position:relative">
    <div style="padding: 10px">
        <p style="padding-top: 15px;">Connect with me through Social Media</p>
        <a href="https://www.instragram.com/masrik_dahir" target="blank"><i style="font-size:36px" class="fab fa-instagram w3-hover-opacity">&#160&#160</i></a>
        <a href="https://www.twitter.com/masrik_dahir" target="blank"><i style="font-size:36px" class="fab fa-twitter w3-hover-opacity">&#160&#160</i></a>
        <a href="https://www.linkedin.com/in/masrik-dahir-2b79b2163/" target="_blank"><i style="font-size:36px" class="fab fa-linkedin w3-hover-opacity">&#160&#160</i></a>
        <a href="https://github.com/Masrik-Dahir" target="blank"><i style="font-size:36px" class="fab fa-github w3-hover-opacity">&#160&#160</i></a>
        <a href="https://app.joinhandshake.com/users/20195119" target="blank"><i style="font-size:36px" class="fas fa-handshake w3-hover-opacity">&#160&#160</i></a>
        <a href="https://www.youtube.com/channel/UC6JyPjDH6oYUi_efCEPp6fw" target="blank"><i style="font-size:36px" class="fab fa-youtube-square w3-hover-opacity">&#160&#160</i></a>
        <a href="https://scholar.google.com/citations?hl=en&authuser=2&user=TX_u0HgAAAAJ" target="blank"><i style="font-size:36px" class="fas fa-graduation-cap w3-hover-opacity">&#160</i></a>
        <a href="https://www.researchgate.net/profile/Masrik-Dahir" style="text-decoration:none;" target="blank"><i style="font-size:34px" class="w3-hover-opacity">R<sup>C</sup></i></a>
        <a href="https://ud.me/masrikdahir.nft" style="text-decoration:none" target="blank">
            <img style="width:35px; vertical-align:middle; margin-bottom:5px; margin-left:5px"
                 src="https://d3dw5jtb3w1kgy.cloudfront.net/w3_white.png"/>
        </a>
        <a href="https://orcid.org/0000-0002-7841-310X" style="text-decoration:none" target="blank">
            <img style="width:41px; vertical-align:middle; padding:0; margin-bottom:5px"
                 src="https://d3dw5jtb3w1kgy.cloudfront.net/orcid_white.png"/>
        </a>
    </div>
    <br>
</footer>

<!-- Popup helpers (single definition) -->
<script>
    function togglePopup(id) {
        const popup = document.getElementById('popup-' + id);
        if (popup) popup.classList.toggle('active');
    }
    function closePopup(id) {
        const popup = document.getElementById('popup-' + id);
        if (popup) popup.classList.remove('active');
    }
</script>

<!-- Slideshow JS (single starter, waits for Vue) -->
<script>
    var slideIndex = 1;
    var slideInterval = null;

    function initializeSlides() {
        const slides = document.getElementsByClassName("content-slide");
        for (var i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
    }

    function changeSlide(n) { showSlides(slideIndex += n); }
    function nextSlide() { changeSlide(1); }
    function prevSlide() { changeSlide(-1); }

    function showSlides(n) {
        var slides = document.getElementsByClassName("content-slide");
        var dots = document.getElementsByClassName("content-dot");
        if (!slides.length) return;

        if (n > slides.length) slideIndex = 1;
        if (n < 1) slideIndex = slides.length;

        for (var i = 0; i < slides.length; i++) slides[i].style.display = "none";
        for (var j = 0; j < dots.length; j++)
            dots[j].className = dots[j].className.replace(" content-active-dot", "");

        slides[slideIndex - 1].style.display = "block";
        if (dots[slideIndex - 1]) dots[slideIndex - 1].className += " content-active-dot";
    }

    function resetSlideInterval() {
        clearInterval(slideInterval);
        slideInterval = setInterval(function() { changeSlide(1); }, 2000);
    }
    function pauseSlideShow() { clearInterval(slideInterval); }
    function resumeSlideShow() { resetSlideInterval(); }

    document.addEventListener("DOMContentLoaded", function() {
        const check = setInterval(() => {
            const slides = document.getElementsByClassName("content-slide");
            if (slides.length) {
                clearInterval(check);
                initializeSlides();
                slideIndex = 1;
                showSlides(slideIndex);
                resetSlideInterval();
            }
        }, 100);
    });
</script>

</body>
</html>
